/* Colores */

* {
    font-family: 'Work Sans', sans-serif;
}

.completo {
    background-color: #F2EBD2;
    padding-top: 15vh;
    height: auto;
    width: 100%;
}

.subrayado {
    text-decoration: underline;
}

.letra-poppins {
    font-family: 'Poppins', sans-serif;
}

.no-bordes {
    border: none;
}

.acento-verde-fondo {
    background-color: #44561E;

}

.boton-redondo {
    border-radius: 20px;
    margin-top: 6%;
    font-family: Recoleta, serif;
    font-size: calc(0.2em + 1.2vw);
    transition: 0.5s all;
    background-color: #4C894F;
    color: #F2EBD2;

}

.boton-redondo:hover {
    cursor: pointer;
    background-color: white;
    color: #2D2D2D;
    transition: 0.5s all;
}

button {
    padding: 2% 4%;
    border: none;
    cursor: pointer;
    margin-left: 5%;
    border-radius: 50px;
}

.textoBlanco {
    color: white;
}

.texto-negrilla {
    font-weight: bolder;
}


/*Estructura Wave*/
.wave-container {
    position: absolute;
    top: -5%;
    right: 0;
    width: 55%;
    height: 145%;
    padding: 0%;
    margin: 0;
    background-image: url('src/assets/crearmascota/wavemascota.svg');
    z-index: 0;
}

.container-wave2 {
    position: relative;
    z-index: 10;
}

svg {
    width: 100%;
    height: auto;
}

form {
    height: 80%;
}

.creacional {
    margin-left: 50%;
}

.creacional2 {
    margin-left: 40%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.title-creacional {
    margin-top: 5%;
    margin-left: 40%;
    color: #2D2D2D;
    font-size: calc(0.2em + 2.3vw);
    font-family: Recoleta, serif;
}

.columna {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 6vh;
}

@media (max-width: 800px) {
    .orientation {
        flex-direction: column;
    }
    .columna {
        text-align: right;
    }
    .anchoajustado{
        width: 60%!important;
    }

}

@media screen and (max-width: 1400px) and (min-width: 801px) {
    .columna {
        margin-left: 10%!important;
    }
    .labelenunciado,.labelenunciado2, .selectenunciado {
        width: 95%!important;
    }
}

.uno,
.dos {
    flex: 1;
}

.uno {
    margin-left: 2%;
    margin-right: 1%;
}

.dos {
    margin-right: 2%;
    margin-left: 1%;
}

.enunciado {
    font-size: calc(0.2em + 1.8vw);
    font-family: Recoleta, serif;
}

.labelenunciado {
    width: 80%;
    border-radius: 50px;
    border: solid 1px #2D2D2D;
    background: #F2EBD2;
    margin: 0;
    font-size: calc(0.2em + 1vw);
    border-radius: 1vh;
    padding: 1vh;
}

.labelenunciado2 {
    width: 80%;
    border-radius: 50px;
    border: solid 1px #2D2D2D;
    background: #F2EBD2;
    margin: 0;
    font-size: calc(0.2em + 1vw);
    border-radius: 1vh;
    height: 40%;
    padding: 1vh;
}

.selectenunciado {
    height: 50%;
    width: 80%;
    border-radius: 50px;
    border: solid 1px #2D2D2D;
    background: #F2EBD2;
    margin: 0;
    font-size: calc(0.2em + 1vw);
    border-radius: 1vh;
    padding: 1%;
}

/* Estilo del select2 */
.select2-container--default .select2-selection--single {
    border-radius: 1vh;
    /* Ajusta el valor según el grado de redondez que desees */
    background: #F2EBD2;
    /* Cambia el color de fondo a #F2EBD2 */
    height: 5vh;
    border: solid 1px #2D2D2D;
}

/* Estilo de la flecha desplegable */
.select2-container--default .select2-selection__arrow {
    border-left: none;
    /* Elimina la flecha izquierda */
    border-radius: 50px;
    /* Ajusta el valor para redondear solo el lado derecho */
    background: #F2EBD2;
    height: 5vh;
}

/* Estilo del texto seleccionado */
.select2-container--default .select2-selection__rendered {
    padding: 1vh;
    /* Ajusta el espaciado del texto seleccionado */
    color: #333;
    /* Cambia el color del texto seleccionado */
    height: 5vh;
    font-size: calc(0.2em + 6vw);
}

.waveimage {
    position: absolute;
    width: 40%;
    top: 40%;
    left: 7%;
}

.waveimage2 {
    position: absolute;
    top: 25%;
    left: 5%;
    width: calc(0.2em + 8vw);
}

.error {
    color: #FF0000;
    border-radius: 5px;
    padding: 10px;
    margin-top: 5px;
    margin-left: 5vh;
}

.mensaje-error {
    font-size: 16px;
}