* {
    font-family: 'Work Sans', sans-serif;
}
.ancho-personalizado {
    width: 15%;
}
.contenedor-pagina {
    padding-top: 15vh;
}

.acento-amarillo-semi-claro-fondo {
    background-color: #D4B8A0;
}

.contorno {
    background-color: #F2EBD2;
}

.texto-negrilla {
    font-weight: bold;
}

.letra-normal-grande {
    font-size: 1.5rem;
}

.acentro-amarillo-fondo {
    background-color: #80563D;
    color: #F2EBD2;
}

.textoBlanco {
    color: white;
}

.margenizquierdo {
    margin-right: 5vh;
}

.acento-amarillo-claro-fondo {
    background-color: #F2EBD2;
}

.no-border {
    border: none;
}

.acento-transparente {
    background-color: transparent;
}


/* Estructura del componente */
.cuadro-estatico {
    margin: 0 6%;
    padding: 2% 15% 5% 15%;
    border: none;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.cuadro-estatico h1 {
    margin-top: 0;
    margin-bottom: 4%;
    font-size: calc(0.2em + 3vw);
    z-index: 10;
    position: relative;
    font-family: Recoleta, serif;
}


/* Estructura filtros*/

.grupo-elementos {
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
}

/* Estilo para la etiqueta label que contiene el campo de búsqueda */
.busqueda {
    display: flex;
    align-items: center;
    margin-top: 2%;
    margin-right: 2%;
    width: 100%;
    position: relative;
    height: auto;
}

/* Estilo del campo de búsqueda */
.busqueda:focus-within::before {
    display: none;
}

.busqueda input[type="text"] {
    flex: 1;
    padding: 1%;
    border-radius: 50px;
    border: 2px solid #2D2D2D;
    background: #F2EBD2;
    width: 10vw;
    font-size: calc(0.2em + 1.5vw)!important;
}

.busqueda input::placeholder {
    text-align: left;
    margin-left: 2%;
    font-size: calc(0.2em + 1.5vw)!important;
}

/* Estilo para la imagen de la lupa */
.busqueda::before{
    content: "";
    background-image: url('src/assets/elementosheader/search.svg');
    background-size: cover;
    width: 2vw;
    height: 1.8vw;
    position: absolute;
    top: 50%;
    right: 3%;
    transform: translateY(-50%);
    cursor: pointer;
}

button {
    padding: 1% 1.5%;
    border: none;
    cursor: pointer;
    margin-left: 5%;
    border-radius: 50px;
    font-size: calc(0.2em + 1vw)!important;
}

.tres-botones {
    display: flex;
    align-items:start;
    justify-content: flex-start;
    margin-top: 3%;
    width: 140%;
    transform: translateX(-10%);
    gap: 1%;
}

.boton-contenedor {
    display: flex;
    overflow: hidden;
    width: 60%;
}

.boton-contenedor1 {
    width: 60%;
    overflow: hidden;
    border-radius: 50px 50px 50px 50px;
    font-size: calc(0.2em + 1.2vw)!important;
}

.mitad-izquierda,
.mitad-derecha {
    flex: 1;
    padding: 2% 1%;
    text-align: center;
    cursor: pointer;
    font-size: calc(0.2em + 1vw)!important;
}

.mitad-izquierda {
    border-radius: 50px 0px 0px 50px;
    text-align: right;
    width: 50%;
}

.mitad-derecha {
    border-radius: 0px 50px 50px 0px;
    background: #F2EBD2;
    width: 50%;
}

/*tabla*/
.cuadro-estatico2 {
    margin: 0vh 3% 0vh 3%;
    padding: 0%;
    padding-bottom: 6%;
}

.tabla-general2 {
    width: 100%;
    overflow: hidden;
    border-collapse: collapse;
}

.tabla-general2 th {
    padding: 1.5%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Recoleta, serif;
    font-size: calc(0.2em + 1.2vw);
}

.tabla-general2 td {
    padding: 10px;
    /* Ajusta este valor según el espacio que desees dentro de las celdas */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    font-size: calc(0.2em + 1.2vw);
}

/* Aplicar fondo a filas impares */
.tbody2 tr:nth-child(odd) {
    background-color: #F2EBD2;
    font-family: 'Work Sans', sans-serif;

}

.custom-checkbox-cell {
    display: flex;
    align-items: center;
}

.custom-checkbox {
    display: none;
}

.custom-checkbox-label {
    width: 2vw;
    height: 2vw;
    border: 3px solid #2D2D2D;
    cursor: pointer;
    position: relative;
}

.custom-checkbox-label::after {
    content: '\2713';
    /* Código de verificación (✓) */
    font-size: 16px;
    /* Tamaño de la fuente */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #2D2D2D;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.custom-checkbox:checked+.custom-checkbox-label::after {
    opacity: 1;
}

.toggle-container {
    width: 5vw;
    height: 2vw;
    border: 1px solid #80563D;
    border-radius: 20px;
    background-color: #80563D;
    position: relative;
    cursor: pointer;
}

.toggle-switch {
    width: 2vw;
    height: 1.85vw;
    border-radius: 50%;
    background-color: #fdfdfd;
    left: 0;
    top: 0;
    transition: transform 0.3s ease;
}

.toggle-switch.activo {
    transform: translateX(2.8vw);
    background-color: #000000be;
}


.acciones-cell {
    display: flex;
    justify-content: center; 
    align-items: flex-end; 
}


/* Estilo para el botón "Modificar" */
.acciones-cell a {
    text-decoration: none;
    color: #333;
    transition: all 0.5s;
}

.acciones-cell a:hover {
    background-color: #ddd;
    transition: all 0.5s;
}

.boton-modificar {
    display: inline-block;
    padding: 4% 6%;
    background-color: #80563D;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    text-align: center;
    cursor: pointer;
    font-size: calc(0.2em + 1vw)!important;
}

.boton-modificar:hover {
    background-color: #D4B8A0;
}


/*Paginacion*/
.pagination {
    margin-top: 5vh;
    text-align: center;
}

.pagination a {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px;
    border: none;
    border-radius: 10px;
    background-color: #F1D79D;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.pagination a:hover {
    background-color: #F2EBD2;
    color: #333;
}

.boton-crear {
    display: flex;
    margin-top: 1%;
    justify-content: center;
    /* Centrado horizontal para todos los elementos dentro del contenedor */
    align-items: center;
    /* Centrado vertical para todos los elementos dentro del contenedor */
}

.ancho-razas {
    min-width: 15vh;
}

.pagination {
    margin-top: 5vh;
    text-align: center;
}

.pagination-button {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px;
    border: none;
    border-radius: 10px;
    background-color: #f1d69d00;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.pagination-button:hover {
    background-color: #F2EBD2;
    color: #333;
}

.pagination-button.current-page {
    background-color: #80563D;
    color: #FFF;
}

.filtro-activo {
    background-color: lightyellow;
    color: black;
}

.boton-redondo {
    border-radius: 20px;
    margin-top: 6%;
    font-family: Recoleta, serif;
    padding: 20% 25%;
    font-size: calc(0.2em + 1.3vw);
    transition: 0.5s all;
}

.boton-redondo:hover {
    cursor: pointer;
    background-color: #F2EBD2;
    color: #2D2D2D;

    transition: 0.5s all;

}

@media screen and (max-width: 768px) {
    .boton-contenedor {
        width: 50%;
    }

    .toggle-container{
        display: none;
    }
    th.custom-checkbox-header,
    td.custom-checkbox-cell {
        display: none;
    }
    td.custom-checkbox-cell2{
        display: none;
    }
    th,td{
        font-size: calc(0.2em + 1.3vw)!important;
    }
    .pagination-button{
        padding: 0% 1%;
    }

}