<!-- app-veterinario-table.component.html -->

<app-top-bar-admin></app-top-bar-admin>

<div class="acento-amarillo-semi-claro-fondo contenedor-pagina">
  <div class="cuadro-estatico acento-verde-semi-claro-fondo">
    <h1>Lista de Veterinarios</h1>

    <!-- Barras de búsqueda -->
    <div class="grupo-elementos">
      <label for="campoBusqueda" class="busqueda">
        <input type="text" id="campoBusqueda" name="campoBusqueda"
          placeholder="Busca por cualquier atributo de la tabla" [(ngModel)]="textoBusqueda"
          (input)="filtrarVeterinarios()">
      </label>

    </div>

    <div class="tres-botones texto-negrilla textoNegro">
      <button [ngClass]="filtroActivoCedula ? 'filtro-activo' : 'acentro-amarillo-fondo texto-negrilla .filtro-btn'"
        class="acentro-amarillo-fondo texto-negrilla .filtro-btn" (click)="filtrarPorAtributo('cedula')">Cédula</button>
      <button [ngClass]="filtroActivoNombre ? 'filtro-activo' : 'acentro-amarillo-fondo texto-negrilla .filtro-btn'"
        class="acentro-amarillo-fondo texto-negrilla .filtro-btn" (click)="filtrarPorAtributo('nombre')">Nombre</button>
      <button
        [ngClass]="filtroActivoEspecialidad ? 'filtro-activo' : 'acentro-amarillo-fondo texto-negrilla .filtro-btn'"
        class="acentro-amarillo-fondo texto-negrilla .filtro-btn"
        (click)="filtrarPorAtributo('especialidad')">Especialidad</button>
      <button
        [ngClass]="filtroActivoNAtenciones ? 'filtro-activo' : 'acentro-amarillo-fondo texto-negrilla .filtro-btn'"
        class="acentro-amarillo-fondo texto-negrilla .filtro-btn" (click)="filtrarPorAtributo('atenciones')">Número de
        Atenciones</button>
      <button [ngClass]="filtroActivoEstado ? 'filtro-activo' : 'acentro-amarillo-fondo texto-negrilla .filtro-btn'"
        class="acentro-amarillo-fondo texto-negrilla .filtro-btn" (click)="filtrarPorAtributo('estado')">Estado</button>
    </div>
    <div class="tres-botones texto-negrilla textoNegro">
      <div class="boton-contenedor">
        <div class="mitad-izquierda acentro-amarillo-fondo">
          <!-- Lista desplegable izquierda -->
          <select class="acentro-amarillo-fondo no-border texto-negrilla" [(ngModel)]="selectedSortBy"
            (ngModelChange)="ordenarVeterinarios()">
            <option value="cedula">Cédula</option>
            <option value="nombre">Nombre</option>
            <option value="especialidad">Especialidad</option>
            <option value="numeroAtenciones">Número de atenciones</option>
            <option value="estado">Estado</option>

          </select>
        </div>
        <div class="mitad-derecha">
          <!-- Lista desplegable derecha -->
          <select class="acento-amarillo-claro-fondo texto-negrilla no-border" [(ngModel)]="selectedSortOrder"
            (ngModelChange)="ordenarVeterinarios()">
            <option value="asc">Ascendente</option>
            <option value="desc">Descendente</option>
          </select>
        </div>
      </div>
      <div class="margenizquierdo"></div>
      <div class="boton-contenedor1">
        <div class="mitad-izquierda acentro-amarillo-fondo">
          <!-- Lista desplegable para seleccionar la cantidad de mascotas por página -->
          <select class="acentro-amarillo-fondo texto-negrilla textoBlanco no-border" [(ngModel)]="itemsPorPagina"
            (ngModelChange)="cambiarCantidadPorPagina()">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="30">30</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <section class="cuadro-estatico2">
    <table class="tabla-general2">
      <thead>
        <tr class="texto-negrilla textoNegro letra-normal-grande encabezados-tabla acento-verde-semi-claro-fondo">
          <th scope="col" class="custom-checkbox-header"></th>
          <th scope="col" style="width: 13%;">Cédula</th>
          <th scope="col" style="width: 14%;">Nombre</th>
          <th scope="col" style="width: 14%; ">Especialidad</th>
          <th scope="col" class="custom-ancho" style="width: 14%; word-wrap: break-word; overflow-wrap: break-word;">
            Número<br>
            Atenciones
          </th>
          <th scope="col" class="custom-checkbox-header" >Estado</th>
          <th scope="col" class="custom-checkbox-header"></th>
          <th scope="col" class="custom-checkbox-header" ></th>
        </tr>
      </thead>
      <tbody id="tableBody" class="tbody2">
        <tr
          *ngFor="let veterinario of veterinariosFiltrados.slice(calcularIndicesPagina().inicio, calcularIndicesPagina().fin); let i = index">
          <td class="custom-checkbox-cell">
            <input type="checkbox" class="custom-checkbox" [id]="'checkbox-' + i">
            <label [for]="'checkbox-' + i" class="custom-checkbox-label"></label>
          </td>
          <th class="ancho-personalizado">{{ veterinario.cedula }}</th>
          <td>{{ veterinario.nombre }}</td>
          <td>{{ veterinario.especialidad }}</td>
          <td>{{ veterinario.numeroAtenciones }}</td>
          <td class="custom-checkbox-cell2">{{ veterinario.estado }}</td>
          <td class="acciones-cell acento-transparente custom-checkbox-cell2" >
            <div class="toggle-container custom-checkbox-cell2" (click)="toggleEstadoVeterinario(veterinario)">
              <div class="toggle-switch custom-checkbox-cell2" [ngClass]="{'activo': veterinario.estado === 'inactivo'}"></div>
            </div>
          </td>
          <td class="texto-negrilla" style=" width: 10%;">
            <a class="boton-modificar" href="#" data-value="opcion8"
              [routerLink]="['/veterinario/update', veterinario.cedula]">Modificar</a>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Agregar la sección de paginación -->
    <div class="pagination">
      <button [disabled]="paginaActual === 1" (click)="cambiarPagina(paginaActual - 1)"
        class="pagination-button">Anterior</button>
      <button *ngIf="rangoPaginas[0] > 1" (click)="cambiarPagina(1)" class="pagination-button">1</button>
      <span *ngIf="rangoPaginas[0] > 2">...</span>
      <button *ngFor="let pagina of rangoPaginas" (click)="cambiarPagina(pagina)" class="pagination-button"
        [ngClass]="{'current-page': paginaActual === pagina}">
        {{ pagina }}
      </button>
      <span *ngIf="rangoPaginas[rangoPaginas.length - 1] < paginas.length - 1">...</span>
      <button *ngIf="rangoPaginas[rangoPaginas.length - 1] < paginas.length" (click)="cambiarPagina(paginas.length)"
        class="pagination-button">{{ paginas.length }}</button>
      <button [disabled]="paginaActual === paginas.length" (click)="cambiarPagina(paginaActual + 1)"
        class="pagination-button">Siguiente</button>
    </div>

    <div class="boton-crear">
      <a>
        <button [routerLink]="['/veterinario/add']"
          class="acentro-amarillo-fondo boton-redondo texto-negrilla">Añadir</button>
      </a>
    </div>
  </section>
</div>