<section class="layout-servicios">

  <div class="servicio-vacunacion verdeOlivaPastel-fondo">

    <h1 class="recoleta-bold gris-neutro-acento titulo-servicio">Vacunacion</h1>
    <p class="recoleta">Diseñado para proporcionar una protección completa contra enfermedades comunes que pueden afectar a tu amigo.</p>
    <img class="imagen-carta-servicios" src="/assets/LandingPage/Servicios/corgiVacunacion.png" alt="imagen de perro siendo vacunado.">

  </div>

  <div class="servicio-rehabilitacion amarillo-principal-fondo">

    <h1 class="recoleta-bold gris-neutro-acento titulo-servicio">Rehabilitación</h1>
    <p class="recoleta">Equipo de fisioterapeutas y especialistas en rehabilitación animal dedicados a proporcionar programas personalizados.</p>
    <img class="imagen-carta-servicios" src="/assets/LandingPage/Servicios/doctorRehabilitacion.png" alt="Perro siendo observado por un doctor.">

  </div>

  <div class="servicio-grooming naranjaPastel-fondo">

    <h1 class="recoleta-bold gris-neutro-acento titulo-servicio">Grooming</h1>
    <p class="recoleta">Experimentados estilistas caninos ocupados de tratar a tus mascotas con cortes de pelo profesionales, limpieza de oídos, corte de uñas y mucho más.</p>
    <img class="imagen-carta-servicios" src="https://images.unsplash.com/photo-1510074170509-3958bcb8ab3d?q=80&w=1897&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Chow chow recibiendo un corte de pelo.">

  </div>


</section>
