<div class="pagina-login-Layout">

<section class="contenedor-imagen-pagina-login" id="imagenLoginClientes">

  </section>

  <section class="contenedor-texto-pagina-login">
    <div class="div-superior-texto-login">
      <h1 class="tituloCentrado acento-rojo-claro-texto titulo-login">Iniciar sesión</h1>

      <form (ngSubmit)="login()" #loginForm="ngForm">
        <br>
        <input type="number" id="inputCedula" name="campoInputCedula" placeholder="Ingresa tu cédula" class="letra-poppins campo-input-login" [(ngModel)]="cedula">
        <br>
        <input type="password" id="inputPassword" name="campoInputPassword" placeholder="Ingresa tu contraseña" class="letra-poppins campo-password-login" [(ngModel)]="password">
        <br>
        <button type="submit" class="texto-negrilla boton-redondo boton-login-ingresar
        ">Ingresar</button>
      </form>

      <div *ngIf="error" class="error">
        <p>Datos Incorrectos. Intente de nuevo.</p>
      </div>

      <div *ngIf="vacio" class="error">
        <p>Debe ingresar la cédula.</p>
      </div>

      <div class="espacio-blanco-texto-login"></div>

      <div class="div-inferior-texto-login letra-poppins">
        <a [routerLink]="['/usuario/login']">
            <button type="button" class="boton-redondo boton-login-otras-cuentas acento-amarillo-fondo
            botol texto-negrilla">
              Clientes
            </button>
          </a>

        <br>
        <a [routerLink]="['/veterinario/login']">
          <button type="button" class="boton-redondo boton-login-otras-cuentas acento-verde-claro-fondo texto-negrilla">
            Veterinarios
          </button>
        </a>
      </div>
      <p class="registro-mensaje">¿Aún no estás registrado? ¡Únete!</p>
    </div>
  </section>
</div>
