*{
  font-family: 'Work Sans', sans-serif;
}

h1{
  font-family: Recoleta, serif;
}

.filtro-activo {
    background-color: lightyellow;
    color: black;
}



.contenedor-pagina{
    padding-top: 15vh;
  }

  .acento-amarillo-semi-claro-fondo{
      background-color:#EEB66D;
    padding-top: 15vh;
  }

  .contorno{
      background-color:#F2EBD2;
  }

  .texto-negrilla{
      font-weight: bold;
  }

  .letra-normal-grande{
      font-size: 1.5rem;
  }

  .acentro-amarillo-fondo{
      background-color: #DC6A35;
  }

  .textoBlanco{
      color: white;
  }

  .margenizquierdo{
      margin-right: 5vh;
  }

  .acento-amarillo-claro-fondo{
      background-color:#F2EBD2;
  }

  .no-border{
      border: none;
  }

  .acento-transparente{
      background-color: transparent;
  }


  /* Estructura del componente */
  .cuadro-estatico {
      margin: 0vh 6vh 0 6vh;
      padding: 2vh 15vh 5vh 15vh;
      border: none;
      text-align: center;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
  }


  .cuadro-estatico h1 {
      margin-top: 0;
      margin-bottom: 4vh;
      font-size: 40px;
      z-index: 10;
      position: relative;
  }

  .rectangulo {
      position: absolute;
      background-color: #F2EBD2;
      width: 30%;
      height: 4vh;
      top: 21.5%;
      left: 35%;
      margin: 0 auto;
      z-index: 1;
  }

  /* Estructura filtros*/

  .grupo-elementos {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
  }

  /* Estilo para la etiqueta label que contiene el campo de búsqueda */
  .busqueda {
      display: flex;
      align-items: center;
      margin-top: 2vh;
      margin-right: 2vh;
      width: 80%;
      position: relative;
  }

  /* Estilo del campo de búsqueda */
  .busqueda:focus-within::before {
      display: none;
  }

  .busqueda input[type="text"] {
      flex: 1;
      padding: 10px;
      border-radius: 50px;
      border: 2px solid #2D2D2D;
      background: #F2EBD2;

    width: 10vw;
  }

  /* Estilo para la imagen de la lupa */
  .busqueda::before, .boton-derecha button::before {
      content: "";
      background-image: url('src/assets/elementosheader/search.svg');
      background-size: cover;
      width: 20px;
      height: 20px;
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      cursor: pointer;
  }

  .boton-derecha button {
      display: flex;
      align-items: center;
      margin-top: 2vh;
      margin-right: 2vh;
      width: 100%;
      position: relative;
      border: 2px solid #2D2D2D;
      background: #F2EBD2;
  }

  button {
      padding: 2vh 4vh;
      border: none;
      cursor: pointer;
      margin-left: 5vh;
      border-radius: 50px;
  }

  .tres-botones {
      display: flex;
      align-items: center;
      margin-top: 3vh;
      margin-right: 10vh;
      width: 100%;
      gap: 10px;
  }

  .boton-contenedor {
      display: flex; /* Usar flexbox para colocar las dos mitades en línea */
      overflow: hidden;
  }

  .mitad-izquierda,
  .mitad-derecha {
      flex: 1; /* Hacer que ambas mitades ocupen el mismo espacio */
      box-sizing: border-box;
      padding: 10px;
      text-align: center;
      cursor: pointer;
  }

  .mitad-izquierda {
      border-radius: 50px 0px 0px 50px;
  }

  .mitad-derecha {
      border-radius: 0px 50px 50px 0px;
      background: #F2EBD2;
  }

  /*tabla*/
  .cuadro-estatico2 {
      margin: 0vh 6vh 0vh 6vh;
      padding: 0%;
      padding-bottom: 6vh;
  }

  .tabla-general2 {
      width: 100%;
      overflow: hidden;
      border-collapse: collapse;
  }

.tabla-general2 th{
  font-family: Recoleta, serif;
}

.tabla-general2 td{
  font-family: 'Work Sans', sans-serif;
  text-align: center;

}

.tabla-general2 tr{
  text-align: center;

}

  .tabla-general2 th,
  .tabla-general2 td {
      padding: 10px; /* Ajusta este valor según el espacio que desees dentro de las celdas */
      white-space: nowrap; /* Evita que el contenido se rompa en varias líneas */
      overflow: hidden; /* Ocultar contenido desbordado */
      text-overflow: ellipsis; /* Agregar puntos suspensivos (...) para indicar desbordamiento */
  }

  /* Aplicar fondo a filas impares */
  .tbody2 tr:nth-child(odd) {
      background-color: #F2EBD2;

  }

  .custom-checkbox-cell {
      display: flex;
      align-items: center;
  }

  .custom-checkbox {
      display: none;
  }

  .custom-checkbox-label {
      width: 24px;
      height: 24px;
      border: 3px solid #2D2D2D;
      cursor: pointer;
      position: relative;
  }

  .custom-checkbox-label::after {
      content: '\2713'; /* Código de verificación (✓) */
      font-size: 16px; /* Tamaño de la fuente */
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #2D2D2D;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
  }

  .custom-checkbox:checked + .custom-checkbox-label::after {
      opacity: 1;
  }

  .boton-eliminar {
    display: inline-block;
    padding: 10px 20px;
    background-color: #DC6A35; 
    color: #FFFFFF;
    border: none;
    border-radius: 5px; 
    text-decoration: none;
    text-align: center;
    cursor: pointer;
  }
  
  .boton-eliminar:hover {
    background-color: #EEB66D;
  }
  
  /*Paginacion*/
  .pagination {
      margin-top: 5vh;
      text-align: center;
  }

  .pagination a {
      display: inline-block;
      padding: 5px 10px;
      margin: 0 5px;
      border: none;
      border-radius: 10px;
      background-color: #F1D79D;
      color: #333;
      text-decoration: none;
      transition: background-color 0.3s, color 0.3s;
  }

  .pagination a:hover{
      background-color: #F2EBD2;
      color: #333;
  }

  .boton-crear {
      display: flex;
      margin-top: 1%;
      justify-content: center; /* Centrado horizontal para todos los elementos dentro del contenedor */
      align-items: center; /* Centrado vertical para todos los elementos dentro del contenedor */
  }

  .ancho-razas {
      min-width: 15vh;
  }

  .pagination {
      margin-top: 5vh;
      text-align: center;
  }

  .pagination-button {
      display: inline-block;
      padding: 5px 10px;
      margin: 0 5px;
      border: none;
      border-radius: 10px;
      background-color: #f1d69d00;
      color: #333;
      text-decoration: none;
      transition: background-color 0.3s, color 0.3s;
  }

  .pagination-button:hover {
      background-color: #F2EBD2;
      color: #333;
  }

  .pagination-button.current-page {
      background-color: #DC6A35;
      color: #FFF;
  }

