* {
    font-family: 'Work Sans', sans-serif;
}

h1 {
    font-family: Recoleta, serif;
}

.filtro-activo {
    background-color: lightyellow;
    color: black;
}

.nombre-mascota{
    color: black;
}



.contenedor-pagina {
    padding-top: 15vh;
}

.acento-amarillo-semi-claro-fondo {
    background-color: #EEB66D;
    padding-top: 15vh;
}

.contorno {
    background-color: #F2EBD2;
}

.texto-negrilla {
    font-weight: bold;
}

.letra-normal-grande {
    font-size: calc(0.2em + 1.5vw);
}

.acentro-amarillo-fondo {
    background-color: #DC6A35;
}

.textoBlanco {
    color: white;
}

.margenizquierdo {
    margin-right: 5%;
}

.acento-amarillo-claro-fondo {
    background-color: #F2EBD2;
}

.no-border {
    border: none;
}

.acento-transparente {
    background-color: transparent;
}


/* Estructura del componente */
.cuadro-estatico {
    margin: 0 6%;
    padding: 2% 15% 5% 15%;
    border: none;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.cuadro-estatico h1 {
    margin-top: 0;
    margin-bottom: 4%;
    font-size: calc(0.2em + 3vw);
    z-index: 10;
    position: relative;
}

/* Estructura filtros*/

.grupo-elementos {
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
}

/* Estilo para la etiqueta label que contiene el campo de búsqueda */
.busqueda {
    display: flex;
    align-items: center;
    margin-top: 2%;
    margin-right: 2%;
    width: 100%;
    height: auto;
    position: relative;
}

/* Estilo del campo de búsqueda */
.busqueda:focus-within::before {
    display: none;
}

.busqueda input[type="text"] {
    flex: 1;
    padding: 1%;
    border-radius: 50px;
    border: 2px solid #2D2D2D;
    background: #F2EBD2;
    width: 10vw;
    font-size: calc(0.2em + 1.5vw) !important;
}

.busqueda input::placeholder {
    text-align: left;
    padding-left: 2%;
    font-size: calc(0.2em + 1.5vw) !important;
}

/* Estilo para la imagen de la lupa */
.busqueda::before {
    content: "";
    background-image: url('src/assets/elementosheader/search.svg');
    background-size: cover;
    width: 2vw;
    height: 1.8vw;
    position: absolute;
    top: 50%;
    right: 3%;
    transform: translateY(-50%);
    cursor: pointer;
}

button {
    padding: 1% 1.5%;
    border: none;
    cursor: pointer;
    margin-left: 5%;
    border-radius: 50px;
    font-size: calc(0.2em + 1vw) !important;
}

.tres-botones {
    display: flex;
    align-items: start;
    justify-content: flex-start;
    margin-top: 3%;
    margin-right: 10%;
    width: 100%;
    transform: translateX(-10%);
    gap: 1%;
}

.boton-contenedor {
    display: flex;
    overflow: hidden;
    width: 50%;
    font-size: calc(0.2em + 1.2vw) !important;
}

.boton-contenedor1 {
    width: 20%;
    overflow: hidden;
    border-radius: 50px 50px 50px 50px;
    font-size: calc(0.2em + 1.2vw) !important;
}

.mitad-izquierda,
.mitad-derecha {
    flex: 1;
    padding: 3% 2%;
    text-align: center;
    cursor: pointer;
    font-size: calc(0.2em + 1vw) !important;
}

.mitad-izquierda {
    border-radius: 50px 0px 0px 50px;
    text-align: right;
}

.mitad-derecha {
    border-radius: 0px 50px 50px 0px;
    background: #F2EBD2;
}

/*tabla*/
.cuadro-estatico2 {
    margin: 0vh 3% 0vh 3%;
    padding: 1%;
    padding-bottom: 6%;
}

.tabla-general2 {
    width: 100%;
    overflow: hidden;
    border-collapse: collapse;
}

.tabla-general2 th {
    font-family: Recoleta, serif;
    text-align: center;
}

.tabla-general2 td {
    font-family: 'Work Sans', sans-serif;
    align-items: center; 
    text-align: center;
    justify-content: center;
}

.tabla-general2 tr {
    text-align: center;
}

.tabla-general2 th,
.tabla-general2 td {
    padding: 1.5%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: calc(0.2em + 1vw);
}

/* Aplicar fondo a filas impares */
.tbody2 tr:nth-child(odd) {
    background-color: #F2EBD2;
}

.custom-checkbox-cell {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    transform: translateY(50%);
}

.custom-checkbox {
    display: none;
}

.custom-checkbox-label {
    width: 2vw;
    height: 2vw;
    border: 3px solid #2D2D2D;
    cursor: pointer;
    position: relative;
}

.custom-checkbox-label::after {
    content: '\2713';
    /* Código de verificación (✓) */
    font-size: 16px;
    /* Tamaño de la fuente */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #2D2D2D;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.custom-checkbox:checked+.custom-checkbox-label::after {
    opacity: 1;
}




.boton-eliminar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4% 10% !important;
    background-color: #DC6A35;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    font-size: calc(0.2em + 1vw)!important;
    margin-right: 5%;
}

.boton-eliminar:hover {
    background-color: #EEB66D;
}

/*Paginacion*/
.pagination {
    margin-top: 5vh;
    text-align: center;
}

.pagination a {
    display: inline-block;
    padding: 5% 10%;
    margin: 0 5px;
    border: none;
    border-radius: 10px;
    background-color: #F1D79D;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.pagination a:hover {
    background-color: #F2EBD2;
    color: #333;
}

.boton-crear {
    display: flex;
    margin-top: 1%;
    justify-content: center;
    align-items: center;
    padding: 5% !important;
    font-family: Recoleta, serif;}

.ancho-razas {
    min-width: 15vh;
}

.pagination {
    margin-top: 5vh;
    max-width: 100%;
    text-align: center;
}

.pagination-button {
    transform: translateX(-60%);
    display: inline-block;
    padding: 1% 2%;
    margin: 0 5%;
    border: none;
    border-radius: 10px;
    background-color: #f1d69d00;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    font-family: 'Work Sans', sans-serif;
}

.pagination-button1 {
    padding: 1% 2%;
}

.pagination-button:hover {
    background-color: #F2EBD2;
    color: #333;
}

.pagination-button.current-page {
    background-color: #DC6A35;
    color: #FFF;
}

.boton-redondo {
    border-radius: 20px;
    margin-top: 6%;
    font-family: Recoleta, serif;
    padding: 20% 25%;
    font-size: calc(0.2em + 1.3vw);
    transition: 0.5s all;
}

.boton-redondo:hover {
    cursor: pointer;
    color: #2D2D2D;
    transition: 0.5s all;
}