<div class="pagina-login-Layout">


<section class="contenedor-imagen-pagina-login" id="imagenLoginClientes">

  </section>

  <section class="contenedor-texto-pagina-login">
    <div class="div-superior-texto-login">
      <h1 class="tituloCentrado acento-amarillo-texto titulo-login">Iniciar sesión</h1>

      <form (ngSubmit)="login()">
        <br>
        <input type="number" id="inputCedula" name="campoInputCedula" placeholder="Ingresa tu Cédula*" class="letra-poppins campo-input-login" [formControl]="campoCedula">
        <br>
        <button type="submit" class="letra-poppins texto-negrilla boton-redondo boton-login-ingresar
        acento-amarillo-fondo">Ingresar</button>

        <div *ngIf="campoCedula.invalid && campoCedula.touched" class="error">
          <p>Debes llenar la cedula del usuario.</p>
        </div>
      </form>

      <div *ngIf="!usuarioEncontrado" class="error">
        <p>El usuario no fue encontrado. Intenta de nuevo.</p>
      </div>

      <div *ngIf="usuarioInactivo" class="error">
        <p>El usuario actualmente se encuentra inactivo. Porfavor comunicate con nuestro personal para activar la cuenta de nuevo.</p>
      </div>

      <div class="espacio-blanco-texto-login"></div>

      <div class="div-inferior-texto-login letra-poppins">
        <button id="loginVeterinario" type="button" (click)="loginVeterinario()" class="boton-redondo boton-login-otras-cuentas
            boton-login-veterinario acento-verde-claro-fondo texto-negrilla">Veterinarios</button>
        <br>
        <button type="button" (click)="loginAdmin()" class="boton-redondo boton-login-otras-cuentas
        boton-login-admin acento-naranja-claro-fondo texto-negrilla">Administrador</button>
      </div>

      <p class="registro-mensaje">¿Aún no estás registrado? ¡Únete!</p>
    </div>
  </section>
</div>
