/*-----------------------*/

.link-menu:hover{

  text-decoration: underline;
  cursor: pointer;
  color: #DD4429;

  transition: all 0.3s;
}

/*-----------------------*/
.topbar-title-section{
  flex: 1;
}

.topbar-title{
  font-family: Recoleta, serif;
  font-weight: bold;
  color: #E7B10A;
  text-align: center;
  font-size: 3rem;

}

/*-----------------------*/
.topbar-right-section-cliente{
  flex: 2;
  display: flex;
  justify-content: right;
  align-items: center;

  padding-right: 3%;
}

.boton-logout-cliente{

  color: #2D2D2D;
  background-color: #DC6A35;
  transition: all 0.5s;

}


