<app-top-bar-cliente></app-top-bar-cliente>

<section class="layout-tablaMascotas-usuario beige-fondo">

    <section class="contenedor-tabla-mascotas verdeOlivaPastel-fondo carta-general">
      <h1 class="titulo-tabla-mascotas-usuario">Mascotas Registradas</h1>

      <!-- Division generada para cada mascota -->
      <section *ngFor="let mascota of mascotasUsuario; index as i; first as isFirst">
        <div id="listaMascotas" class="layout-entrada-mascota">
          <div class="seccion-foto-mascota">
            <img class="foto-mascota" [src]="mascota.foto" alt="Foto de la mascota">
          </div>

          <div class="seccion-nombre-mascota">
            <a class="recoleta-bold nombre-mascota"> <strong> {{mascota.nombre}} </strong></a>
            <br>
            <br>
            <span class="datos-basicos-mascota">{{mascota.raza}}</span>
            <br>
            <br>
            <span class="datos-basicos-mascota">{{mascota.edad}} años</span>
            <br>
            <br>
            <span class="datos-basicos-mascota">{{mascota.peso}} kg</span>
          </div>

          <div class="seccion-clinica-mascota">
            <span class="worksans-bold datos-basicos-mascota">Enfermedad:</span>
            <span class="datos-basicos-mascota">{{mascota.enfermedad}}</span>
            <br>
            <br>
            <span class="worksans-bold datos-basicos-mascota">Ultimo Tratamiento:</span>
            <span class="datos-basicos-mascota">{{mascota.tratamientos?.at(0)}}</span>
            <br>
            <br>
            <span class="worksans-bold datos-basicos-mascota">Estado:</span>
            <br>
            <span class="datos-basicos-mascota">{{mascota.estado}}</span>
          </div>

        </div>

          <hr class="linea-divisor-mascotas">

        <br>
      </section>

    </section>


</section>
