.layout-tablaMascotas-usuario{
  padding-top: 20vh;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;

  font-family: 'Work Sans', sans-serif;
  min-height: 85vh;
}

.contenedor-tabla-mascotas{

  padding-top: 1%;
  padding-left: 3%;
  padding-right: 3%;
  font-size: 1.3rem;

}

.titulo-tabla-mascotas-usuario{
  font-family: Recoleta, serif;
  font-size: 2.5rem;
  text-align: center;
}

.layout-entrada-mascota{
  display: flex;
  flex-direction: row;
  gap: 3%
}

.seccion-foto-mascota{
  flex: 3;
}

.seccion-nombre-mascota{
  flex: 3;
}

.datos-basicos-mascota{
  font-size: 1.5rem;
}

.nombre-mascota{
  font-size: 2rem;
}

.seccion-clinica-mascota{
  flex: 3;
}

.foto-mascota{
  height: 20vh;
  width: 80%;
  object-fit: cover;

  display: block;
  margin: auto;

  border-radius: 15px;

}
.linea-divisor-mascotas{
  background-color: #F2EBD2;

  border-radius: 15px;
  border-color: #F2EBD2;
  border-style: solid;

  box-shadow: none;
  height: 2px;
  margin-top: 5%;
}
