<section class="seccion-aboutus">

  <table>
    <tr>
      <td> <span class="titulo-seccion cutout-highlight">Por qúe Nosotros </span></td>
      <td>
        <h2 class="numero-grande">47</h2>
        <br>
        <span class="subtexto">Profesionales Certificados en Salud Veterinaria</span>
      </td>
      <td>
        <h2 class="numero-grande">15</h2>
        <br>
        <span class="subtexto">Servicios distintos para el cuidado de tu compañero.</span>
      </td>
    </tr>

    <tr>
      <td>
        <h2 class="numero-grande">150</h2>
        <br>
        <span class="subtexto">Mascotas Atendidas</span>
      </td>
      <td>
        <h2 class="numero-grande">1,230</h2>
        <br>
        <span class="subtexto">Tratamientos Realizados</span>
      </td>
      <td>
        <h2 class="numero-grande">69</h2>
        <br>
        <span class="subtexto">Ratings de 5 estrellas</span>
      </td>
    </tr>

    <tr>
      <td colspan="3">
        <h3 class="frase-final">En PetPaws, Dejamos que los resultados hablen por nosotros.</h3>
      </td>

    </tr>
  </table>

</section>
