<app-top-bar-cliente></app-top-bar-cliente>

<section class="layout-informacion-mascota beige-fondo">

  <section class="carta-info-mascota carta-general verdeOlivaPastel-fondo">
    <img class="foto-carta-mascota" src="{{mascotaActual?.foto}}" alt="Imagen de la mascota">

    <h1 class="titulo-carta-informacion-mascota">{{mascotaActual?.nombre}}</h1>

    <ul>
      <li class="worksans item-size-informacion-mascota"><span class="recoleta-bold item-size-informacion-mascota">Raza: </span>{{mascotaActual?.raza}}</li>
      <li class="worksans item-size-informacion-mascota"><span class="recoleta-bold item-size-informacion-mascota">Edad: </span>{{mascotaActual?.edad}} años</li>
      <li class="worksans item-size-informacion-mascota"><span class="recoleta-bold item-size-informacion-mascota">Peso: </span >{{mascotaActual?.peso}}</li>
      <li class="worksans item-size-informacion-mascota"><span class="recoleta-bold item-size-informacion-mascota">Estado: </span >{{mascotaActual?.estado}}</li>
      <li class="worksans item-size-informacion-mascota"><span class="recoleta-bold item-size-informacion-mascota">Enfermedad :</span>{{mascotaActual?.enfermedad}}</li>
    </ul>
  </section>

  <section class="carta-tratamientos-mascota carta-general naranjaPastel-fondo">
    <h1 class="titulo-carta-informacion-mascota">Tratamientos de {{mascotaActual?.nombre}}</h1>

    <hr class="linea-divisor-general">

    <table class="tabla-tratamientos-info-mascota">
      <tr>
        <th class="recoleta-bold">Enfermedad</th>
        <th class="recoleta-bold">Droga</th>
        <th class="recoleta-bold">Fecha</th>
        <th class="recoleta-bold">Veterinario</th>
        <th>{{mascotaActual?.tratamientos}}</th>
        <th>{{mascotaActual?.tratamientos}}</th>
      </tr>


      <tr *ngFor="let tratamiento of mascotaActual?.tratamientos">
        <td>{{tratamiento.descripcion}}</td>
        <td>{{tratamiento.medicamento}}</td>
        <td>{{tratamiento.fecha}}</td>
        <td>{{tratamiento.veterinario}}</td>
      </tr>

    </table>

  </section>


</section>
