<ng-container *ngIf="rol === 'VETERINARIO'; else adminTopBar">
  <app-top-bar-veterinario></app-top-bar-veterinario>
</ng-container>
<ng-template #adminTopBar>
  <app-top-bar-admin></app-top-bar-admin>
</ng-template>

<!-- Agrega la siguiente línea para el caso de rol igual a 'CLIENTE' -->
<app-top-bar-cliente *ngIf="rol === 'CLIENTE'"></app-top-bar-cliente>


<section class="layout-informacion-mascota beige-fondo">

  <section class="carta-info-mascota carta-general verdeOlivaPastel-fondo">
    <img class="foto-carta-mascota" src="{{mascotaActual?.foto}}" alt="Imagen de la mascota">

    <h1 class="titulo-carta-informacion-mascota">{{mascotaActual?.nombre}}</h1>

    <ul>
      <li class="worksans item-size-informacion-mascota"><span class="recoleta-bold item-size-informacion-mascota">Raza: </span>{{mascotaActual?.raza}}</li>
      <li class="worksans item-size-informacion-mascota"><span class="recoleta-bold item-size-informacion-mascota">Edad: </span>{{mascotaActual?.edad}} años</li>
      <li class="worksans item-size-informacion-mascota"><span class="recoleta-bold item-size-informacion-mascota">Peso: </span >{{mascotaActual?.peso}}</li>
      <li class="worksans item-size-informacion-mascota"><span class="recoleta-bold item-size-informacion-mascota">Estado: </span >{{mascotaActual?.estado}}</li>
      <li class="worksans item-size-informacion-mascota"><span class="recoleta-bold item-size-informacion-mascota">Enfermedad:</span>{{mascotaActual?.enfermedad}}</li>
    </ul>
  </section>

  <section class="carta-tratamientos-mascota carta-general naranjaPastel-fondo">
    <h1 class="titulo-carta-informacion-mascota">Tratamientos de {{mascotaActual?.nombre}}</h1>

    <hr class="linea-divisor-general">

    <table class="tabla-tratamientos-info-mascota">
      <tr>
        <th class="recoleta-bold">Medicamento</th>
        <th class="recoleta-bold">Fecha</th>
        <th class="recoleta-bold">Veterinario</th>
      </tr>


      <tr *ngFor="let tratamiento of tratamientosMascota">
        <td>{{tratamiento.nombreMedicamento}}</td>
        <td>{{tratamiento.fecha}}</td>
        <td>{{tratamiento.nombreVeterinario}}</td>
      </tr>

    </table>

   <button *ngIf="rol !== 'CLIENTE'" class="boton-redondo-global boton-añadir recoleta naranja-principal-fondo beige-acento" [routerLink]="'/tratamiento/add'"> Añadir tratamiento </button>


  </section>


</section>
