<ng-container *ngIf="rol === 'VETERINARIO'; else adminTopBar">
  <app-top-bar-veterinario></app-top-bar-veterinario>
</ng-container>
<ng-template #adminTopBar>
  <app-top-bar-admin></app-top-bar-admin>
</ng-template>

<div class="completo">


    <section class="contenido-modificar-cliente">
      <section class="contenedor-img-modificar-entidad">

      </section>
      <section class="contenedor-img-modificar-mascota">
        <div class="contenedor-imagen-perro ">
        </div>
      </section>

      <section class="contenedor-campos-modificar-entidad">
        <div class="seccion-input-contenido-dashboard">
          <h2 class="title-creacional subrayado negro-acento">Editar Datos de Cliente</h2>
          <form [formGroup]="usuarioForm" (ngSubmit)="modificarUsuario()" #form="ngForm">
            <input type="hidden" formControlName="estado" id="estado">
            <div class="columna">
                <div class="uno" >
                    <label for="cedula" class="acento-verde-texto enunciado">Cedula*</label>
                    <br>
                    <input  type="number" formControlName="cedula" class="lacento-verde-texto labelenunciado" id="cedula" placeholder="cedula">
                </div>
                <div class="dos">
                    <label for="nombre" class="acento-verde-texto enunciado">Nombre*</label>
                    <br>
                    <input type="text" formControlName="nombre" class="acento-verde-texto labelenunciado" id="nombre" placeholder="nombre usuario">
                </div>
            </div>
            <div class="columna">
                <div class="uno">
                    <label for="correo" class="acento-verde-texto enunciado">Correo*</label>
                    <br>
                    <input type="text" formControlName="correo" class="lacento-verde-texto labelenunciado" id="correo" placeholder="correo">
                </div>
                <div class="dos">
                    <label for="celular" class="acento-verde-texto enunciado">Celular*</label>
                    <br>
                    <input type="number" formControlName="celular" class="lacento-verde-texto labelenunciado" id="celular" placeholder="celular">
                </div>
            </div>
            <input type="hidden" formControlName="id" name="id" />

            <button type="submit" class="buton">
                Modificar Usuario
            </button>
          </form>
        </div>
      </section>
    </section>
    </div>
