/* Colores */

* {
    font-family: 'Work Sans', sans-serif;
}

.completo {
    margin-top: 15vh;
    width: 100%;
    background-color: #F2EBD2;
}

.subrayado {
    text-decoration: underline;
}

.no-bordes {
    border: none;
}

.acento-verde-fondo {
    background-color: #44561E;

}

.boton-redondo {
    border-radius: 20px;
    margin-top: 6%;
    font-size: calc(0.2em + 1.2vw);
    font-family: Recoleta, serif;
}

button {
    padding: 2% 4%;
    border: none;
    cursor: pointer;
    margin-left: 5%;
    border-radius: 50px;
}

.textoBlanco {
    color: white;
}

.texto-negrilla {
    font-weight: bolder;
}

.title-creacional {
    margin-top: 5%;
    margin-left: 20%;
    color: #2D2D2D;
    font-size: calc(0.2em + 2.3vw);
    font-family: Recoleta, serif;
}


.contenido-modificar-cliente {
    margin-top: 15vh;
    display: flex;
    background-image: url('src/assets/modificarusuario/wave.svg');
    height: auto;
    width: 100%;
    margin: 0;
    z-index: 0;
}

.contenedor-img-modificar-entidad {
    flex: 4;
}

.contenedor-img-modificar-mascota {
    background-color: transparent;
    width: 100%;
    background-size: cover;
    width: 60vh;
    height: 55vh;
    position: absolute;
    top: 30%;
    left: 10%;
}

.contenedor-img-modificar-mascota img {
    max-width: 100%;
    height: auto;
    display: block; 
}

.contenedor-imagen-perro {
    width: 25vw;
    height: 26vw;
    background-size: cover;
    background-image: url('src/assets/modificarusuario/crearusuarioicono.svg');
    border-radius: 10px;
    margin-bottom: 2vh;
}


.contenedor-campos-modificar-entidad {
    flex: 6;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

.columna {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 6%;
}

@media screen and (max-width: 800px) {
    .buton {
        margin-top: 10%!important;
    }
}
@media (max-width: 1600px) {
    .orientation {
        flex-direction: column;
    }
    .columna {
        text-align: right;
    }
    .completo {
        height: 100%;
    }
    .contenido-modificar-cliente{
        height: 100%;
    }
}

@media screen and (max-width: 2400px) and (min-width: 1600px) {
    button{
        padding: 1% 2%;
    }
}@media screen and (max-width: 800px) {
    .buton {
        margin-top: 10%!important;
    }
}
@media (max-width: 1600px) {
    .orientation {
        flex-direction: column;
    }
    .columna {
        text-align: right;
    }
    .completo {
        height: 100%;
    }
    .contenido-modificar-cliente{
        height: 100%;
    }
}

@media screen and (max-width: 2400px) and (min-width: 1600px) {
    button{
        padding: 1% 2%;
    }
}

.uno,
.dos {
    flex: 1;
    margin-right: 1%;
}

.uno {
    margin-left: 1%;
    margin-right: 3%;
}

.dos {
    margin-right: 3%;
    margin-left: 3%;
}

.enunciado {
    font-size: calc(0.2em + 1.8vw);
    font-weight: 500;
    font-family: Recoleta, serif;
    text-align: left;
}

.labelenunciado {
    width: 90%;
    border-radius: 50px;
    border: solid 1px #2D2D2D;
    background: #F2EBD2;
    margin: 0;
    font-size: calc(0.2em + 1vw);
    border-radius: 1vh;
    padding: 1vh;
}

.selectenunciado {
    height: 50%;
    width: 90%;
    border-radius: 50px;
    border: solid 1px #2D2D2D;
    background: #F2EBD2;
    margin: 0;
    font-size: calc(0.2em + 1vw);
    border-radius: 1vh;
    padding: 0.5vh;
}


.buton {
    margin-top: 3%;
    border-radius: 20px;
    background: #E7B10A;
    padding: 2% 4%;
    color: #000000;

    font-family: Recoleta, serif;
    font-size: calc(0.2em + 1.2vw);
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    transition: all 0.5s;
}

.buton:hover {
    text-decoration: none;
    cursor: pointer;
    background-color: #F2EBD2;
    color: #2D2D2D;
    transition: all 0.3s;
}

.waveimage2 {
    position: absolute;
    top: 20%;
    left: 2%;
    width: calc(0.2em + 7vw);
}
