<!-- Servicios -->
<section id="sec4" class="seccion4_masInformacion centrar">
  <div class="contenedorcomida">
    <div id="slidecomida">
      <div class="itemcomida" style="background-image: url(assets/LandingPage/mision/quienesomos.avif);">
        <div class="contentcomida">
          <div class="name" data-translate="seccion3title">¿Quiénes Somos? </div>
          <div class="des" data-translate="seccion3parrafo">Somos una dedicada Clínica Veterinaria
            comprometida con el bienestar integral
            de tus
            felinos. En PetPaws, nuestro hospital especializado para gatos, operamos las 24 horas del
            día, los 7
            días de la semana, para brindar atención constante y experta a tu querido compañero.
          </div>
        </div>
      </div>
      <div class="itemcomida" style="background-image: url(assets/LandingPage/mision/mision.png);">
        <div class="contentcomida">
          <div class="name" data-translate="mision">Misión </div>
          <div class="des" data-translate="misionparrafo">Nuestra misión es ofrecer un cuidado excepcional
            y personalizado para cada gato
            que entre
            por nuestras puertas. Nos esforzamos por promover la salud y longevidad de nuestros
            pacientes caninos a
            través de servicios de calidad, tecnología avanzada y asesoramiento especializado. </div>
        </div>
      </div>
      <div class="itemcomida" style="background-image: url(assets/LandingPage/mision/vision.jpg);">
        <div class="contentcomida">
          <div class="name">Visión </div>
          <div class="des" data-translate="visionparrafo">Aspiramos a ser la referencia en la atención
            veterinaria canina, destacándonos
            por nuestra
            pasión, conocimiento y enfoque en la medicina preventiva. Buscamos ser un oasis de confianza
            para los
            dueños de gatos, donde sus amigos peludos puedan disfrutar de una vida plena y
            enriquecedora.</div>
        </div>
      </div>
      <div class="itemcomida" style="background-image: url(assets/LandingPage/mision/Horario.png);">
        <div class="contentcomida">
          <div class="name" data-translate="horario">Horario </div>
          <div class="des" data-translate="horarioparrafo">En WhiskerVet, estamos comprometidos con
            brindar atención constante y confiable
            para tu
            mascota. Nuestra clínica veterinaria para perros está abierta las 24 horas del día, los 7 días
            de la semana.
            Ya sea que tu gato necesite atención de día o de noche, nuestro equipo estará disponible
            para ofrecer el
            cuidado necesario en cualquier momento. Tu tranquilidad y la salud de tu perro son nuestra
            prioridad.</div>
        </div>
      </div>
      <div class="itemcomida" style="background-image: url(assets/LandingPage/mision/equipomedico.jpg);">
        <div class="contentcomida">
          <div class="name" data-translate="equipomedico">Equipo Médico </div>
          <div class="des" data-translate="equipomedicoparrafo">
            En PetPaws, contamos con un equipo médico altamente capacitado y apasionado por la salud
            y el bienestar
            de los felinos. Nuestros veterinarios especializados en perros están comprometidos en brindar
            cuidados
            excepcionales a lo largo de las 24 horas, los 7 días de la semana. Con experiencia y
            dedicación, estamos
            aquí para ofrecer la mejor atención médica a tu compañero felino en cualquier momento que lo
            necesites.
          </div>
        </div>
      </div>
      <div class="itemcomida" style="background-image: url(assets/LandingPage/mision/instalaciones.avif);">
        <div class="contentcomida">
          <div class="name" data-translate="instalaciones">Instalaciones y Equipamiento </div>
          <div class="des" data-translate="instalacionesparrafo">
            En PetPaws, nos enorgullecemos de nuestras modernas instalaciones diseñadas
            específicamente para el
            confort y bienestar de los perros. Nuestro entorno está cuidadosamente pensado para reducir
            el estrés y
            crear un ambiente tranquilo. Contamos con áreas de consulta especializadas, quirófanos
            equipados con
            tecnología avanzada, espacios de hospitalización cómodos y salas de espera relajantes. Cada
            rincón está
            diseñado pensando en los felinos, para que se sientan seguros y en casa mientras reciben la
            atención que
            merecen.</div>
        </div>
      </div>
      <div class="itemcomida" style="background-image: url(assets/LandingPage/mision/contact.jpg);">
        <div class="contentcomida">
          <div class="name" data-translate="contacto">Contacto y Ubicación </div>
          <div class="des" data-translate="contactoparrafo">
            Si deseas ponerte en contacto con nosotros o visitarnos, aquí tienes la información
            necesaria:

            Dirección: Calle Canina, Nº 123, Ciudad Gatoval, Caninolandia.
            Teléfono: +1-555-1234 (Atendemos llamadas las 24 horas).
            Correo Electrónico: info&#64;PetPaws.com

            Estamos aquí para responder a tus preguntas, programar citas y brindarte toda la asistencia
            que necesitas
            para el cuidado de tu gato. ¡Esperamos verte pronto en PetPaws!</div>
        </div>
      </div>
    </div>
    <div class="buttonscomida">
      <button id="prevcomida"> <svg width="34" height="34" viewBox="0 0 24 24">
        <path d="M15 18l-6-6 6-6" stroke="white" stroke-width="2" fill="none" />
      </svg></button>
      <button id="nextcomida"> <svg width="34" height="34" viewBox="0 0 24 24">
        <path d="M9 6l6 6-6 6" stroke="white" stroke-width="2" fill="none" />
      </svg></button>
    </div>
  </div>
</section>
