<app-top-bar-admin></app-top-bar-admin>

<section class="contenido-dashboard">

  <section class="cuadros-estadisticas-principales">

    <div  class="cuadro-estadisticas cuadro-clientes">
      <span class="numero-cuadro-estadisticas"> {{clientesTotales}}</span>
      <br>
      <br>
      <span class="textp-cuadro-estadisticas">Clientes Totales</span>
    </div>

    <div  class="cuadro-estadisticas cuadro-mascotas">
      <span class="numero-cuadro-estadisticas"> {{mascotasRegistradas}}</span>
      <br>
      <br>
      <span class="textp-cuadro-estadisticas">Mascotas Registradas</span>
    </div>

<!--    <div  class="cuadro-estadisticas cuadro-tratamientos">-->

<!--    </div>-->

    <div  class="cuadro-estadisticas cuadro-veterinarios">
      <span class="numero-cuadro-estadisticas"> {{veterinariosActivos}}</span>
      <br>
      <br>
      <span class="textp-cuadro-estadisticas">Veterinarios Activos</span>
    </div>

  </section>

  <hr>

  <section class="entidadesActivas letra-amarilla">
    <span>
      <p class="numero-cuadro-estadisticas"> {{mascotasTratamiento}}</p>
      <p class="textp-cuadro-estadisticas">Mascotas <br> en Tratamiento</p>
    </span>

    <span>
      <p class="numero-cuadro-estadisticas"> {{veterinariosInactivos}}</p>
      <p class="textp-cuadro-estadisticas">Veterinarios  <br> Inactivos</p>
    </span>

    <span>
      <p id="ventasTotales" class="numero-cuadro-estadisticas"> {{ventasTotales | currency:'USD':'symbol':'1.2-2'}}</p>
      <p class="textp-cuadro-estadisticas">Ventas <br> Totales</p>
    </span>

    <span>
      <p id="gananciasTotales" class="numero-cuadro-estadisticas"> {{gananciasTotales| currency:'USD':'symbol':'1.2-2'}}</p>
      <p class="textp-cuadro-estadisticas">Ganancias <br>  Totales</p>
    </span>

    <span>
      <p class="numero-cuadro-estadisticas"> {{tratamientosUltimoMes.length}}</p>
      <p class="textp-cuadro-estadisticas">Tratamientos <br> dados este mes</p>
    </span>
  </section>

  <hr>


  <section class="entidadesActivas letra-naranja-intensa">

    <span>
      <p class="numero-cuadro-estadisticas"> Top 3 Medicamentos <br> por ventas: </p>
    </span>

    <span>
      <p class="numero-cuadro-estadisticas"> {{top3Medicamentos[0].nombre}}</p>
      <span class="textp-cuadro-estadisticas">{{top3Medicamentos[0].precio}}</span>
    </span>

    <span>
      <p class="numero-cuadro-estadisticas"> {{top3Medicamentos[1].nombre}}</p>
      <span class="textp-cuadro-estadisticas">{{top3Medicamentos[1].precio}}</span>
    </span>

    <span>
      <p class="numero-cuadro-estadisticas"> {{top3Medicamentos[1].nombre}}</p>
      <span class="textp-cuadro-estadisticas">{{top3Medicamentos[1].precio}}</span>
    </span>


  </section>

  <hr>

  <div class="table-container">
    <table>
      <thead>
      <tr>
        <th>Medicamento</th>
        <th>Cantidad de Tratamientos</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let entry of cantidadTratamientosPorMedicamento | keyvalue">
        <td>{{ entry.key }}</td>
        <td>{{ entry.value }}</td>
      </tr>
      </tbody>
    </table>
</div>



</section>




