<section class="layout-contacto">

  <section class="parte-mapa">
    <img src="https://upload.wikimedia.org/wikipedia/commons/a/a9/Long_and_Loop_Street_map.svg">
  </section>

  <section class="parte-informacion-contacto">
    <h2 class="titulo-secundario verde-principal-acento"> Contactanos!</h2>
    <h3 class="titulo-terciario verde-principal-acento"> Celular & Telefono</h3>
    <span class="texto-contacto">+57     301 282 8295</span>
    <p class="texto-contacto">+57     340 212 9812</p>

    <h3 class="titulo-terciario verde-principal-acento">Dirección</h3>
    <p class="texto-contacto">Calle 7 #40 - 62</p>

    <h3 class="titulo-terciario verde-principal-acento">Horarios</h3>
    <p class="texto-contacto"> <strong> Lun - Vie: </strong> 8am - 5pm</p>
    <p class="texto-contacto"> <strong> Sab - Dom: </strong> 10am - 3pm</p>
  </section>

</section>
