@import "src/styles.css";

.layout-contacto{
  height: 80vh;
  max-width: 100vw;
  display: flex;

  background-color: white;
}

/* --------------------------------------- */

.parte-mapa{
  flex: 6;
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  vertical-align: center;
  margin: 3% 5%;

  max-height: 70%;
}

.parte-mapa img{
  transform: scale(0.9, 0.9);
  align-content: center;
  padding: 2%;
  width: 90%;


}

/* --------------------------------------- */

.parte-informacion-contacto{
  flex: 4;
  margin-top: 3%;
}

.titulo-secundario{
  font-family: Recoleta, serif;
  font-size: 3rem;
  text-align: center;
}

.titulo-terciario{
  font-family: Recoleta, serif;
  font-size: 2rem;
  text-align: left;
}

.texto-contacto{
  font-family: 'Work Sans', sans-serif;
  color: #2D2D2D;
  font-size: 1.5rem;
}

/* --------------------------------------- */
