<!--TESTIMONIOS-->
<div id="contenedor-silueta-testigos">
  <div id="testimonios-title-container">
    <h1 class="testimonios-title" data-translate="testimoniotitulo">Testimonios de nuestros clientes</h1>
  </div>
</div>

<section id="sec3" class="seccion3_Testimonios">

  <div class="testimonios-container">
    <div id="testimonio1" class="testimony-box">
      <div class="stars">
        <p><strong>Rating:  </strong> </p>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </div>
      <p class="testimonial-text" data-translate="testimonio1">
        "Mi perrito Max solía tener problemas dentales que lo hacían sentir incómodo. Gracias a la
        odontología canina en WhiskerVet, su sonrisa ahora brilla. Las limpiezas dentales y el asesoramiento
        sobre su dieta han mejorado su salud en general."
      </p>

      <div class="testimonial-author">
        <img src="assets/LandingPage/Testimonios/testimonio1.png" alt="Autor del testimonio">
        <p>Ana <br>
          Cliente de Whisker Vet, 6 años
        </p>
      </div>


    </div>
    <div id="testimonio2" class="testimony-box">
      <div class="stars">
        <p><strong>Rating:  </strong> </p>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </div>
      <p class="testimonial-text" data-translate="testimonio2">
        "Mi adorado Bulldog, Rocky, siempre fue un torbellino de energía. Gracias a las clases de
        entrenamiento en el Parque Canino Happy Tails, ahora es el perro más obediente y cariñoso del
        vecindario. Las sesiones de socialización y los ejercicios de obediencia le han dado confianza y a
        nosotros una relación más fuerte"
      </p>
      <div class="testimonial-author">
        <img src="assets/LandingPage/Testimonios/testimonio2.jpg" alt="Autor del testimonio">
        <p>Juan <br />
          Cliente de Whisker Vet, 1 año</p>
      </div>
    </div>

    <div id="testimonio3" class="testimony-box">
      <div class="stars">
        <p><strong>Rating:  </strong> </p>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </div>
      <p class="testimonial-text" data-translate="testimonio3">">
        "Charlie, nuestro fiel compañero de cuatro patas, solía sufrir de alergias cutáneas que lo hacían
        rascarse constantemente. En la Clínica Veterinaria FPetCare, encontramos soluciones efectivas para
        sus alergias. Ahora, su piel está saludable y nunca ha sido más feliz."
      </p>
      <div class="testimonial-author">
        <img src="assets/LandingPage/Testimonios/testimonio3.jpg" alt="Autor del testimonio">
        <p>Maria <br />
          Cliente de Whisker Vet, 2 años</p>

      </div>
    </div>

    <div id="testimonio4" class="testimony-box">
      <div class="stars">
        <p><strong>Rating:  </strong> </p>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </div>
      <p class="testimonial-text" data-translate="testimonio4">
        "Sasha, nuestra perra activa, siempre estaba llena de energía, pero a veces se lastimaba durante sus
        correrías. Gracias a la fisioterapia en el Centro Canino HealthPaws, recuperó su movilidad y
        resistencia. Ahora, disfrutamos de largas caminatas juntos sin preocupaciones."
      </p>
      <div class="testimonial-author">
        <img src="assets/LandingPage/Testimonios/testimonio4.png" alt="Autor del testimonio" style="width: 120px;">
        <p>Ricardo <br />
          Cliente de Whisker Vet, 4 años</p>
      </div>
    </div>

    <div id="testimonio5" class="testimony-box">
      <div class="stars">
        <p><strong>Rating:  </strong> </p>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </div>
      <p class="testimonial-text" data-translate="testimonio5">
        "Coco, nuestro perro rescatado, pasó por momentos difíciles antes de llegar a nuestro hogar. En la
        Clínica Veterinaria Loving Paws, lo cuidaron con amor y lo ayudaron a superar problemas de salud y
        ansiedad. Ahora, Coco es un miembro alegre y saludable de nuestra familia."
      </p>
      <div class="testimonial-author">
        <img src="assets/LandingPage/Testimonios/testimonio5.jpeg" alt="Autor del testimonio" style="width: 120px;">
        <p>Laura <br />
          Cliente de Whisker Vet, 3 años</p>
      </div>
    </div>

    <div id="testimonio6" class="testimony-box">
      <div class="stars">
        <p><strong>Rating:  </strong> </p>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </div>
      <p class="testimonial-text" data-translate="testimonio6">
        "Max, nuestro Golden Retriever, solía ser incontrolable durante los paseos. Luego, inscribimos a Max
        en las clases de obediencia de Paws in Harmony. Gracias a las lecciones y el entrenamiento
        profesional, ahora disfrutamos de paseos relajados y divertidos con nuestro querido amigo peludo."
      </p>
      <div class="testimonial-author">
        <img src="assets/LandingPage/Testimonios/testimonio6.jpeg" alt="Autor del testimonio" style="width: 120px;">
        <p>Carlos <br>
          Nuevo cliente Whisker Vet!</p>
      </div>
    </div>
  </div>

</section>



