@import"src/styles.css";

.layout-testimonios{
  min-height: 100vh;
  background-color: #F2EBD2;
}

/* -------------- Seccion del titulo -------------- */
.circle{
  border-radius: 50%;
  height: 120px;
  width: 120px;

  position: absolute;
  z-index: 0;
  margin-left: 8%;
  margin-top: -3%;


}

.tamaño-quotes-grandes{
  font-size: 5vw;
}

.titulo-testimonios-izquierda{
  text-align: left;
  margin-left: 10%;
  position: relative;
  z-index: 1;
}

.titulo-testimonios-derecha{
  text-align: right;
  margin-right: 10%;
}

.highlight-titulo-testimonios{
  background-position: bottom;
}

/* -------------- Seccion de los testimonios -------------- */
.cartas-testimonios{
  display: flex;
  width: 100%;

  padding: 5% 8%;
  margin: auto;
}

.carta-testimonio{
  flex: 4;
  height: 40%;
  border-radius: 15px;
  border: black solid 3px;

  background-color: #F1D79D;
}

#carta-izquierda-colored-border{
  margin-right: 5%;
}

.imagen-carta-testimonio{
  width: 100%;
  height: 30vh;
  object-fit: cover;
  border-radius: 15px 15px 0 0 ;
  margin-bottom: 5%;
}

.titulo-carta-testimonio{
  text-align: center;
  font-size: 1.8vw;
}

.texto-carta-testimonio{
  margin-right: 5%;
  margin-left: 5%;

  font-size: 1.5vw;
  display: block;
  text-align: center;
}

.autor-carta-testimonio{
  font-size: 1.3vw;
  display: block;
  text-align: center;
}


