<section class="layout-testimonios">

  <div class="circle rojo-intenso-fondo"></div>
  <h1 class="recoleta-bold titulo-testimonios-izquierda">
    <span class="recoleta-bold tamaño-quotes-grandes beige-acento">“ ”</span> No nos escuches a nosotros.
  </h1>

  <h1 class="recoleta-bold titulo-testimonios-derecha">
    Escucha a nuestros <span class="recoleta-bold rojo-intenso-acento highlight-titulo-testimonios">Clientes.</span>
  </h1>

  <section class="cartas-testimonios">

    <div class="carta-testimonio" id="carta-izquierda-colored-border">
      <img class="imagen-carta-testimonio" src="https://images.unsplash.com/photo-1527362950785-f487a7c1fe48?q=80&w=1284&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Imagen de pitbull con su dueña.">
      <h3 class="worksans-bold titulo-carta-testimonio rojo-intenso-acento">"Simplemente Increible"</h3>
      <p class="worksans texto-carta-testimonio">Mi perro jamás había sido tan saludable. Desde su tratamiento en PetPaws, Luna es más juiciosa y activa. Y lo mejor de todo, ya puede correr de nuevo!</p>
      <span class="worksans-bold autor-carta-testimonio">Martha M. y Luna</span>
    </div>

    <div class="carta-testimonio">
      <img class="imagen-carta-testimonio" src="https://images.unsplash.com/photo-1632498301446-5f78baad40d0?q=80&w=1364&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Imagen de pitbull con su dueña.">
      <h3 class="worksans-bold titulo-carta-testimonio rojo-intenso-acento">“Los mejores en el campo”</h3>
      <p class="worksans texto-carta-testimonio">Coco tenía una enfermedad muy compleja. Otros veterinarios no querían tratarla porque pensaban que era incurable. En PetPaws, trataron y curaron a Coco!</p>
      <span class="worksans-bold autor-carta-testimonio">Nataly G. y Coco</span>
    </div>

  </section>

</section>

