<section class="layout-testimonios">

  <div class="circle rojo-intenso-fondo"></div>
  <h1 class="recoleta-bold titulo-testimonios-izquierda">
    No nos escuches a nosotros.
  </h1>

  <h1 class="recoleta-bold titulo-testimonios-derecha">
    Escucha a nuestros <span class="recoleta-bold rojo-intenso-acento highlight-titulo-testimonios">Clientes.</span>
  </h1>

  <section class="cartas-testimonios">

    <div class="carta-testimonio" id="carta-izquierda-colored-border">
      <img src="/assets/LandingPage/Testimonios/pitbullTestimonio1.png" alt="Imagen de pitbull con su dueña.">
      <h3 class="worksans-bold">"Simplemente Increible</h3>
      <p class="worksans">Mi perro jamás había sido tan saludable. Desde tu tratamiento en PetPaws, Luna es más juiciosa y activa.</p>
      <span class="worksans">Martha M. y Luna</span>
    </div>

    <div>

    </div>

  </section>

</section>

