section{
  transition: all 0.2s ease-in-out;
}

.navigation-menu-layout{
  padding-top: 3vh;
  background-color: #EFC353;
  font-family: Recoleta, serif;
  transition: margin-bottom 2s ease-in-out;

  height: 85vh;
  width: 100vw;

  position: fixed;
  left: 0;
  z-index: 9999;

  margin-top: 15vh;
}


#myHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  height: 12vh;
  background-color: #EFC353;
}

.centrado-enlace {
  display: block;
  text-align: center;

  color: black;

  font-weight: bold;
  font-size: 5vh;

  margin-top: 7vh;

  transition: all 0.5s;
}

/* ------- Seccion de redes sociales ------- */
.social-media-dropdown-menu{
  display: flex;
  position: fixed;
  bottom: 5vh;
  left: 3vw;
}

.social-media-image{
  margin-right: 1vw;
}
