.navigation-menu{
  padding-top: 5%;
  background-color: #EFC353;
  font-family: Recoleta, serif;
  transition: margin-bottom 2s ease-in-out;
}

.title-navegacion {
  height: 20vh;
  font-size: 4rem;
  width: 100%;
  text-align: center;

}
#myHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  height: 12vh;
  background-color: #EFC353;
}

.centrado-enlace {
  display: block; /* Para que ocupen toda la anchura disponible */
  text-align: center; /* Centrar el texto horizontalmente */
  color: black; /* Cambiar el color del texto a negro */
  font-weight: bold; /* Establecer el texto en negrita */
  margin-bottom: 10px; /* Agregar espacio entre elementos si es necesario */
  width: 100%;
  height: 20vh;

  font-size: 3rem;
}

svg{
  margin: 0.5%;
}
