/*-----------------------*/
.topbar-left-section-landing-page{
  display: flex;
  flex: 2;
  justify-content: left;
  font-size: 1.5rem;

  padding-left: 3%;
}

.boton-menu{
  border: none;
  background-color: inherit;
  transition: all 0.5s;

}

.boton-menu:hover{
  background-color: inherit;
  transition: all 0.5s;
  cursor: pointer;
  transform: scale(1.2);
}

/*-----------------------*/
.topbar-title-section{
  flex: 1;
}

.topbar-title{
  font-family: Recoleta, serif;
  font-weight: bold;
  color: #DD4429;
  text-align: center;
  font-size: 3rem;

}

/*-----------------------*/
.topbar-right-section-landing-page{
  flex: 2;
  display: flex;
  justify-content: right;
  text-align: right;
  font-size: 1.5rem;

  padding-right: 3%;
}


.boton-login{
  color: #2D2D2D;
  background-color: #E7B10A;

}
