<ng-container *ngIf="rol === 'VETERINARIO'; else adminTopBar">
    <app-top-bar-veterinario></app-top-bar-veterinario>
  </ng-container>
  <ng-template #adminTopBar>
    <app-top-bar-admin></app-top-bar-admin>
  </ng-template>

<div class="completo">
    <div class="wave-container"></div>
    <img class="waveimage" src="./assets/creartratamiento/home.png" alt="perro">
    <a [routerLink]="'/tratamiento/all'">
    <img class="waveimage2" src="./assets/crearmascota/devolverse.svg" alt="devolverse">
    </a>
    <section class="container-wave2 creacional">
        <h1 class="title-creacional subrayado">Añadir Tratamiento</h1>
        <form [formGroup]="tratamientoForm" (ngSubmit)="guardarTratamiento()">
            <div class="columna">
                <div class="uno">
                    <label for="mascotaId" class="acento-verde-texto enunciado">Mascota</label>
                    <br>
                    <input type="text" formControlName="mascotaId" class="acento-verde-texto labelenunciado3" id="mascotaId"
                        placeholder="Filtrar por Nombre de la mascota" (input)="buscarMascotaPorNombre($event)">
                        <select id="mascotaId" formControlName="mascotaId" class="labelenunciado4">
                            <option value="">Seleccionar mascota</option> <!-- Opción en blanco -->
                            <option *ngFor="let mascota of mascotas" [value]="mascota.id">{{ mascota.nombre }}</option>
                          </select>

                    <input type="hidden" id="duenioId" class="letra-poppins campo-input-dashboard form-control">
                </div>

            </div>
            <div class="columna">
                <div class="uno">
                    <label for="medicamentoId" class="acento-verde-texto enunciado">Medicamento</label>
                    <br>
                    <input type="text" formControlName="medicamentoId" class="acento-verde-texto labelenunciado3" id="medicamentoId"
                        placeholder="Filtrar por Nombre del medicamento" (input)="buscarMedicamentoPorNombre($event)">
                        <select id="medicamentoId" formControlName="medicamentoId" class="labelenunciado4">
                            <option value="">Seleccionar medicamento</option> <!-- Opción en blanco -->
                            <option *ngFor="let medicamento of medicamentos" [value]="medicamento.id">{{ medicamento.nombre }}</option>
                          </select>
                </div>
            </div>
            <div class="columna">
                <div class="uno">
                    <label for="descripcion" class="acento-verde-texto enunciado">Descripción</label>
                    <br>
                    <input type="text" formControlName="descripcion" class="acento-verde-texto labelenunciado3"
                        id="descripcion" placeholder="descripcion">
                </div>
            </div>
            <button id="btnGuardarTratamiento" type="submit"
                class="creacional2 no-bordes boton-redondo acento-rojo-fondo textoBlanco texto-negrilla">
                Guardar
            </button>
        </form>
    </section>
</div>

<app-footer></app-footer>
