<app-top-bar-veterinario></app-top-bar-veterinario>

<div class="contorno acento-amarillo-claro-fondo">
  <div class="cuadro-estatico acento-verde-semi-claro-fondo">
    <div class="rectangulo"></div>
    <h1>Lista de Mascotas</h1>
    <div class="grupo-elementos">
      <label for="campoBusqueda" class="busqueda">
        <input type="text" id="campoBusqueda" name="campoBusqueda" placeholder="Busca por nombre de mascota" [(ngModel)]="textoBusqueda" (input)="filtrarMascotas()">
      </label>
      <div class="boton-derecha ">
        <label for="campoBusqueda" class="busqueda">
          <input type="text" [(ngModel)]="busquedaAvanzada" placeholder="Búsqueda Avanzada">
        </label>

      </div>
    </div>

    <div class="tres-botones texto-negrilla textoNegro">
      <button [ngClass]="filtroActivoEdad ? 'filtro-activo' : 'acentro-verde-oscuro-fondo texto-negrilla textoBlanco .filtro-btn'"  class="acentro-verde-oscuro-fondo texto-negrilla textoBlanco .filtro-btn" (click)="filtrarPorAtributo('edad')">Edad</button>
      <button [ngClass]="filtroActivoRaza ? 'filtro-activo' : 'acentro-verde-oscuro-fondo texto-negrilla textoBlanco .filtro-btn'" class="acentro-verde-oscuro-fondo texto-negrilla textoBlanco .filtro-btn" (click)="filtrarPorAtributo('raza')">Raza</button>
      <button [ngClass]="filtroActivoPeso ? 'filtro-activo' : 'acentro-verde-oscuro-fondo texto-negrilla textoBlanco .filtro-btn'" class="acentro-verde-oscuro-fondo texto-negrilla textoBlanco .filtro-btn" (click)="filtrarPorAtributo('peso')">Peso</button>
      <button [ngClass]="filtroActivoEstado ? 'filtro-activo' : 'acentro-verde-oscuro-fondo texto-negrilla textoBlanco .filtro-btn'" class="acentro-verde-oscuro-fondo texto-negrilla textoBlanco .filtro-btn" (click)="filtrarPorAtributo('estado')">Estado</button>
      <button  class="acentro-verde-oscuro-fondo texto-negrilla textoBlanco .filtro-btn" (click)="filtrarPorAtributo('limpiar')">Limpiar búsqueda avanzada</button>
    </div>
    <div class="tres-botones texto-negrilla textoNegro">
      <div class="margenizquierdo"></div>
      <div class="boton-contenedor">
        <div class="mitad-izquierda acentro-verde-oscuro-fondo">
          <!-- Lista desplegable izquierda -->
          <select class="acentro-verde-oscuro-fondo textoBlanco texto-negrilla" [(ngModel)]="selectedSortBy" (ngModelChange)="ordenarMascotas()">
            <option value="edad">Edad</option>
            <option value="raza">Raza</option>
            <option value="peso">Peso</option>
            <option value="estado">Estado</option>
            <option value="nombre">Nombre</option>
          </select>
        </div>
        <div class="mitad-derecha">
          <!-- Lista desplegable derecha -->
          <select class="acento-amarillo-claro-fondo texto-negrilla no-border" [(ngModel)]="selectedSortOrder" (ngModelChange)="ordenarMascotas()">
            <option value="asc">Ascendente</option>
            <option value="desc">Descendente</option>
          </select>
        </div>
      </div>
      <div class="margenizquierdo"></div>
      <div class="boton-contenedor">
        <div class="mitad-izquierda acentro-verde-oscuro-fondo">
          <!-- Lista desplegable para seleccionar la cantidad de mascotas por página -->
          <select class="acentro-verde-oscuro-fondo texto-negrilla textoBlanco no-border" [(ngModel)]="itemsPorPagina" (ngModelChange)="cambiarCantidadPorPagina()">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="30">30</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <section class="cuadro-estatico2">
    <table class="tabla-general2">
      <thead>
        <tr class="texto-negrilla textoNegro letra-normal-grande encabezados-tabla acento-verde-semi-claro-fondo">
          <th scope="col"></th><!-- box -->
          <th scope="col">Nombre</th>
          <th scope="col">Edad</th>
          <th scope="col">Raza</th>
          <th scope="col">Peso</th>
          <th scope="col">Estado</th>
          <th scope="col"></th><!-- Opciones -->
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody id="tableBody" class="tbody2">
        <tr *ngFor="let mascota of mascotasFiltradas.slice(calcularIndicesPagina().inicio, calcularIndicesPagina().fin); let i = index">
          <td class="custom-checkbox-cell">
            <input type="checkbox" class="custom-checkbox" [id]="'checkbox-' + i">
            <label [for]="'checkbox-' + i" class="custom-checkbox-label"></label>
          </td>
          <th>{{ mascota.nombre }}</th>
          <td>{{ mascota.edad }}</td>
          <td class="ancho-razas">{{ mascota.raza }}</td>
          <td>{{ mascota.peso }}</td>
          <td>{{ mascota.estado }}</td>
          <td class="acciones-cell acento-transparente">
            <div class="toggle-container" (click)="toggleEstadoMascota(mascota)">
              <div class="toggle-switch" [ngClass]="{'SinEstado': mascota.estado === 'inactivo'}"></div>
            </div>
          </td>  
          <td class="texto-negrilla">
            <a class="boton-modificar" href="#" data-value="opcion8" [routerLink]="['/mascotas/modificar', mascota.id]">Modificar</a>
          </td>  
        </tr>
      </tbody>
    </table>

    <!-- Agregar la sección de paginación -->
    <div class="pagination">
      <button [disabled]="paginaActual === 1" (click)="cambiarPagina(paginaActual - 1)" class="pagination-button">Anterior</button>

      <button *ngIf="rangoPaginas[0] > 1" (click)="cambiarPagina(1)" class="pagination-button">1</button>

      <span *ngIf="rangoPaginas[0] > 2">...</span>

      <button *ngFor="let pagina of rangoPaginas" (click)="cambiarPagina(pagina)" class="pagination-button" [ngClass]="{'current-page': paginaActual === pagina}">
        {{ pagina }}
      </button>

      <span *ngIf="rangoPaginas[rangoPaginas.length - 1] < paginas.length - 1">...</span>

      <button *ngIf="rangoPaginas[rangoPaginas.length - 1] < paginas.length" (click)="cambiarPagina(paginas.length)" class="pagination-button">{{ paginas.length }}</button>

      <button [disabled]="paginaActual === paginas.length" (click)="cambiarPagina(paginaActual + 1)" class="pagination-button">Siguiente</button>
    </div>








    <div class="boton-crear">
      <a>
        <button [routerLink]="['/mascotas/add']"
          class="acentro-verde-oscuro-fondo texto-negrilla textoBlanco boton-redondo">Añadir</button>
      </a>
    </div>
  </section>
</div>
