<div class="info-basica">
  <img src="assets/LandingPage/HeroSection/PerroPrincipal.png" alt="Perro" class="imagePerroPrincipal">
  <img src="assets/LandingPage/HeroSection/huellas.svg" alt="huella" class="imagehuellasposicionarriba">
  <img src="assets/LandingPage/HeroSection/huellas.svg" alt="huella" class="imagehuellasposicionabajo">
  <img src="assets/LandingPage/HeroSection/hueso.svg" alt="hueso" class="imagehuesoposicion">
  <img src="assets/LandingPage/HeroSection/pelota.svg" alt="pelota" class="imagepelotaposicion">
  <img src="assets/LandingPage/HeroSection/linea.png" alt="pelota" class="imagelineaposicion">
  <div class="textIntroductorio acento-rojo-semiclaro-texto">
    <p>Tu Compañero,<br> Nuestra<br> Prioridad.</p>
  </div>
  <div class="textIntroductorio2 textoNegro">
    <p>En PetPaws, sabemos que tus compañeros <br>peludos son mucho más <br>que simples animales;<br> ¡Son
      miembros queridos de tu familia! </p>
    <img src="https://www.gifsanimados.org/data/media/202/perro-imagen-animada-0552.gif" alt="Perro animado">
  </div>
</div>
