/*-------------------------*/
.naranja-fondo{
    background-color: #DC6A35;
}

.verde-fondo{
    background-color: #A0BF30;
}

.amarillo-fondo{
    background-color: #E7B10A;
}

.verde-oscuro-fondo{
    background-color: #4C894F;
}

.contenedor-pagina{
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    padding: 2% 2% 2%;
    background-color: #F2EBD2;
  }

  .titulo-nombre-cliente{
    text-align: center;
    font-family: Recoleta, serif;
    font-size: 2.8rem;
    color: #2D2D2D;
  }

  /* ------------------------ */
  .acciones-rapidas {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #F2EBD2;
 }

 .acciones-rapidas p {
    font-family: Recoleta, serif;
    font-size: 1.6rem;
    color: #2D2D2D;
 }

 .botones-acciones {
    display: flex;
 }
 .botones-acciones2 {
    display: flex;
    justify-content: center;
}

.boton2 {
    padding: 10px 20px;
    color: #FFF;
    border: none;
    border-radius: 20px;
    font-family: Recoleta, serif;
    font-size: 1rem;
    cursor: pointer;
    margin: 5px;
    margin-top: 4vh;
    font-weight: 600;
}




 .boton {
    margin-right: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-family: Recoleta, serif;
    font-size: 1.4rem;
    cursor: pointer;
    font-weight: 600;
 }

 .boton {
    margin-right: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-family: Recoleta, serif;
    font-size: 1.4rem;
    cursor: pointer;
    font-weight: 600;
 }




   /* ------------------------ */
  .contenedor-cartas{
    width: 90%;
    display: flex;
    justify-content: space-around;
    padding-left: 5%;
    padding-right: 4%;
    margin: 0;
    margin-bottom: 8vh;
  }

  .seccion-titulo-carta{
    display: flex;
    justify-content: center;
  }

  .titulo-carta{
    background-color: #F2EBD2;
    color: #2D2D2D;
    font-family: Recoleta, serif;
    font-size: 2.4rem;

    font-weight: bold;
    margin: auto;
    margin-bottom: 5%;
  }

  .carta-datos{
    flex: 4;
    padding: 2%;

    background-color: #F1D79D;
    margin-right: 2.5%;
    border-radius: 15px;
  }
  /* ------------------------ */


  .tratamiento-card {
    display: flex;
    margin: 10px;
    padding: 10px;
    border-bottom: 1px solid #ffffff;
    border-radius: 5px;
    background-color: #f9f9f900;
    align-items: center;
}

.mascota-foto {
    width: 100px;
    height: 80px;
    margin-right: 20px;
    align-items: center;
}

.mascota-info,
.tratamiento-info {
    flex: 1;
}

.info-titulo {
    display: block;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.info-titulo2 {
    display: block;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.info-parrafo {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.mascota-info > span,
.tratamiento-info > span {
    margin-bottom: 5px;
}

  /* ------------------------ */
  .carta-mascotas{
    flex: 4;
    padding: 1%;
    background-color: #AAC074;
    margin-left: 2.5%;
    border-radius: 15px;
  }



.mascotas-section {
    display: flex;
    justify-content: center;
}


.nombre-mascota {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.otros-detalles {
    font-size: 1rem;
    margin-bottom: 5px;
}

.linea-divisor-mascotas {
    background-color: #F2EBD2;
    border-color: #F2EBD2;
    box-shadow: none;
    height: 2px;
    margin-top: 10px;
    border-radius: 15px;
}

  .scrollable-container {
    max-height: 300px;
    overflow-y: auto;
}


.scrollable-container::-webkit-scrollbar {
    width: 8px;
}

.scrollable-container::-webkit-scrollbar-thumb {
    background-color: #EEB66D;
    border-radius: 8px;
}

.scrollable-container::-webkit-scrollbar-track {
    background-color: transparent;
}

.scrollable-container2 {
    max-height: 300px;
    overflow-y: auto;
}


.scrollable-container2::-webkit-scrollbar {
    width: 8px;
}

.scrollable-container2::-webkit-scrollbar-thumb {
    background-color: #16520a;
    border-radius: 8px;
}

.scrollable-container2::-webkit-scrollbar-track {
    background-color: transparent;
}
