<header class="topbar-layout">

  <div class="topbar-left-section">
    <a  [routerLink]="'/usuario/all'" class="link-menu"> Clientes </a>
    <a  [routerLink]="'/mascotas/all'" class="link-menu"> Mascotas </a>
    <a  [routerLink]="'/tratamiento/all'" class="link-menu"> Tratamientos </a>

  </div>

  <div class="topbar-title-section">
    <h1 class="topbar-title acento-administrador">PetPaws</h1>
  </div>

  <div class="topbar-right-section">

    <a [routerLink]="'/admin/dashboard'" class="link-menu"> Dashboard </a>
    <a  [routerLink]="'/veterinario/all'" class="link-menu"> Veterinarios </a>


    <button id="cerrarSesion" routerLink="/" class="boton-login selector-lenguaje naranja-principal-fondo" > Cerrar <br> Sesion </button>

  </div>

</header>


