.main-container {
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    padding: 15vh 2% 2% 2%;
    background-color: #F2EBD2;

}
  
.contenedor-titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    background-color: #F2EBD2;
}

.contenedor-titulo h1 {
    font-family: Recoleta;
    font-weight: bold;
    color: #E7B10A;
    text-align: center;
    font-size: 3rem;
}



.contenedor-padre {
    width: 90vw;
    padding-top: 2%;
    height: auto;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.contenedor-izquierdo {
    width: 40vw;
    padding: 3vh;
    height: auto;
    float: left;
    display: flex;
    background-color: #F1D79D;
    border-radius: 4vh;
    flex-direction: column;
    align-items: center;
}

.warning-message {
    color: red;
    margin-top: 10px;
  }
  
.contenedor-derecho {
    margin-left: 5vw;
    width: 50vw;
    height: auto;
    border-radius: 4vh;
    padding: 3vh;
    float: left;
    background-color: #F1D79D;
}
 
  .contenedor-inferior {
    text-align: center;
    height: auto;
    margin-top: 1%; /* Adjust the margin as needed */
  }
  

input[type="date"] {
    background-color: #F1D79D;
    border: none;
    margin-top: 5vh;
    font-size: 1.2rem;
}

#mascotaInput {
    background-color: #FFFFCC; /* Amarillo claro */
    border: 2px solid #E7B10A; /* Color del borde */
    border-radius: 8px; /* Bordes redondeados */
    padding: 8px; /* Ajusta el relleno según sea necesario */
    font-size: 1.2rem;
}

label {
    color: #2D2D2D;
    font-family: Recoleta;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}



p{
    color: #2D2D2D;
    font-family: Recoleta;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.boton-redondo {
    border-radius: 20px;
    margin-top: 6%;
    font-family: Recoleta, serif;
    font-size: 1.2rem;
    transition: 0.5s all;
    background-color: #E7B10A;
    color: #000000;
    text-align: center; /* Center the text */
    padding: 10px 20px; /* Adjust padding for better size */
    margin: 10% auto; /* Center horizontally by setting left and right margins to auto */
    display: flex; /* Use flex to center vertically */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    font-weight: bold;
    border: none;
  }
  
  

  
  

.horas{
    margin-top: 5%;
}

.horas-disponibles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.horas-disponibles button {
    border: 2px solid #333; 
    border-radius: 8vh; 
    margin: 5px; 
    padding: 10px; 
    background-color: #F2EBD2;
    color: #333;
}

.horas-disponibles button.selected {
    background-color: #F1D79D; 
    color: #fff;
    font-weight: bold;
}
