/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
}
/* ------------------------- Recoleta -------------------------*/
@font-face {
  font-family: Recoleta;
  src:    url('assets/fonts/Recoleta/Recoleta-SemiBold.woff2') format('woff2'),
  url('assets/fonts/Recoleta/Recoleta-SemiBold.woff') format('woff'),
  url("assets/fonts/Recoleta/Recoleta-SemiBold.ttf") format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Recoleta;
  src: url('assets/fonts/Recoleta/Recoleta-Bold.woff2') format('woff2'),
  url('assets/fonts/Recoleta/Recoleta-Bold.woff') format('woff'),
  url("assets/fonts/Recoleta/Recoleta-Bold.ttf") format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Recoleta;
  src:    url('assets/fonts/Recoleta/Recoleta-Regular.woff2') format('woff2'),
  url('assets/fonts/Recoleta/Recoleta-Regular.woff') format('woff'),
  url("assets/fonts/Recoleta/Recoleta-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* ------------------------- Work sans -------------------------*/
/* font-family: 'Work Sans', sans-serif; */
/*
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
*/

@font-face {
    font-family: raleway_f;
    src: url(assets/fonts/raleway-regular.woff2);
}
@font-face {
    font-family: raleway_f;
    src: url(assets/fonts/raleway-black.woff2);
    font-weight: 900;
}

.recoleta{
  font-family: Recoleta, serif;
}

.recoleta-semibold{
  font-family: Recoleta, serif;
}


.recoleta-bold{
  font-family: Recoleta, serif;
  font-weight: bold;
}

.worksans{
  font-family: 'Work Sans', sans-serif;
}

.worksans-bold{
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
}

body {
    font-family: raleway_f, serif;
    margin: 0;
    padding: 0;
}

/* ------------------------- Colores -------------------------*/
/*Principales*/
.amarillo-principal-fondo{
  background-color: #E7B10A;
}

.amarillo-principal-acento{
  color: #E7B10A;
}

.naranja-principal-fondo{
  background-color: #DC6A35;
}

.naranja-principal-acento{
  color: #DC6A35;
}
.acento-rojo-texto{
  color: #DC6A35;
}

.verde-principal-fondo{
  background-color: #A0BF30;
}

.verde-principal-acento{
  color: #A0BF30;
}

/*Neutros*/

.negro-acento{
  color: black;
}

.blanco-acento{
  color: white;
}

.gris-neutro-acento{
  color: #2D2D2D;
}

.beige-acento{
  color: #F2EBD2;
}

/*Colores de fondo*/

.beige-fondo{
  background-color: #F2EBD2;
}

.amarilloPastel-fondo{
  background-color: #F1D79D;
}

.naranjaPastel-fondo{
  background-color: #DDA45A;
}
.amarillo-claro-background {
  background-color: #F2EBD2;
}

.blanco-fondo{
  background-color: white;
}

.verdeOlivaPastel-fondo{
  background-color: #AAC074;
}

.cafePastel-fondo{
  background-color: #D4B8A0;
}

/*Secundarios*/
.verde-secundario-acento{
  color: #4C894F;
}

.verde-secundario-fondo{
  background-color: #4C894F;
}

.verdeOlivaPastel-acento{
  color: #AAC074;
}

.naranjaIntenso-acento{
  color: #DD4429;
}

.naranjaIntenso-fondo{
  background-color: #DD4429;
}

.cafeChocolate-acento{
  color: #80563D;
}

.cafeChocolate-fondo{
  background-color: #80563D;
}

/* Colores para tipos de usuario */
.acento-clientes{
  color: #E7B10A;
}

.acento-veterinarios{
  color: #A0BF30;
}

.acento-administrador{
  color: #DC6A35;
}

.rojo-intenso-acento{
  color: #F84141;
}

.rojo-intenso-fondo{
  background-color: #F84141;
}
/* ------------------------- Botones -------------------------*/
.boton-redondo-global{
  border-radius: 20px;
  margin-top: 3%;
  padding: 2%;

  font-family: Recoleta, serif;
  font-size: 1.3vw;

  transition: 0.5s all;
}

.boton-redondo-global:hover{
  cursor: pointer;

  transition: 0.5s all;

}
/* ------------------------- Layouts -------------------------*/
.carta-general{
  border-radius: 15px;
}


#boton-flotante {
  position: fixed;
  bottom: 1%;
  right: 1%;
  z-index: 1000;
}

#boton-flotante a {
  display: block;
}

#boton-flotante img {
  width: calc(0.2em + 6.5vw);
  height: auto;
}


.linea-divisor-general{
  background-color: #F2EBD2;
  border-radius: 15px;
  border-color: #F2EBD2;
  border-style: solid;
  opacity: 100%;

  height: 5px;
  margin-top: 5%;
}

/*------------- Scrollbar customization -------------*/
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #DDA45A;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #E7B10A;
}
