<section class="contenedor-pagina beige-fondo">
  <app-top-bar-cliente></app-top-bar-cliente>

  <h1 class="titulo-nombre-cliente"> Bienvenido, {{usuarioActual?.nombre}}</h1>

  <section class="contenedor-cartas">
    <section class="carta-datos">
      <h2 class="titulo-carta">Tus Datos</h2>
    </section>

    <section class="carta-mascotas">
      <div class="seccion-titulo-carta">
        <span class="titulo-carta"> Mascotas Registradas </span>
      </div>


    </section>

  </section>


</section>



