<section class="contenedor-pagina beige-fondo">
  <app-top-bar-cliente></app-top-bar-cliente>

  <h1 class="titulo-nombre-cliente"> Bienvenido, <strong>{{usuarioActual?.nombre}}</strong> </h1>

  <section class="contenedor-cartas">

    <section class="carta-datos">
      <div class="seccion-titulo-carta">
        <span class="titulo-carta"> Tus Datos </span>
      </div>

      <form [formGroup]="formDatosUsuario">
        <label for="cedula">Cédula</label>
        <br>
        <input id="cedula" name="cedula" formControlName="cedula" readonly>
        <br>
        <label for="nombre">Nombre</label>
        <br>
        <input id="nombre" name="nombre" formControlName="nombre" readonly>
        <br>
        <label for="correo">Correo</label>
        <br>
        <input id="correo" name="correo" formControlName="correo" readonly>
        <br>
        <label for="celular">Celular</label>
        <br>
        <input id="celular" name="celular" formControlName="celular" readonly>
      </form>

    </section>

    <section class="carta-mascotas">
      <div class="seccion-titulo-carta">
        <span class="titulo-carta"> Mascotas Registradas </span>
      </div>

      <div *ngFor="let mascota of mascotasUsuario?.slice(0, 3); index as i; first as isFirst">
        <div class="informacionMascota">
          <img class="foto-mascota" [src]="mascota.foto" alt="Foto de la mascota">
          <a> <strong> {{mascota.nombre}} </strong></a>
          <br>
          <span>{{mascota.raza}}</span>
          <br>
          <span>{{mascota.peso}}</span>
          <br>
          <span>{{mascota.estado}}</span>
          <hr class="linea-divisor-mascotas">
        </div>
        <br>
      </div>

      <button id="verMascotas" class="recoleta-bold boton-redondo-global verde-secundario-fondo beige-acento"
              [routerLink]="'/usuario/mascotas'">Todas mis Mascotas</button>

    </section>

  </section>

</section>

<app-footer></app-footer>


