<header class="header-container">
  <div class="header-left">

    <h2 class="dato2-navegacion-7elementos">Mascotas</h2>
    <h2 class="dato3-navegacion-7elementos">Tratamientos</h2>
  </div>
  <div class="header-center">
    <h1 class="titulo-petpaws">PetPaws</h1>
  </div>
  <div class="header-right">
    <h2 class="mensaje-registro-7elementos">Dashboard</h2>
    <div class="idioma-selector"></div>
    <h2 class="mensaje-registro-7elementos">Es</h2>
    <a href="http://localhost:8090/landingPage/1" class="dato3-cerrarSesion textoNegro">
      <h2 class="dato4-cerrarSesion-7elementos font-bold ">Cerrar Sesión</h2>
    </a>
  </div>
</header>
